<!doctype html>
<html>
<head>
    <title><%- app.name %> - Simcase</title>

    <link rel="shortcut icon" href="<%- makeURL('/favicon.png') %>" type="image/png">

    <!-- CSS -->
    <link rel="stylesheet" href="<%- makeURL('/bootstrap/css/bootstrap.min.css') %>">
    <link rel="stylesheet" href="<%- makeURL('/css/bootstrap-switch.min.css') %>">
    <link rel="stylesheet" href="<%- makeURL('/css/font-awesome.min.css') %>">

    <!-- COMMON -->
    <link rel="stylesheet" type="text/css" href="<%- makeURL('/css/common.css') %>">
    <!-- THEME -->
    <link rel="stylesheet" type="text/css" href="<%- makeURL('/css/theme-purple.css') %>">

    <link rel="stylesheet" href="<%- makeURL('/css/admin.css') %>">
    <link rel="stylesheet" href="<%- makeURL('/css/highcharts.css') %>">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,500" rel="stylesheet">

    <!-- JS -->
    <script type="text/javascript" src="<%- makeURL('/js/jquery-1.11.0.min.js') %>"></script>
    <script type="text/javascript" src="<%- makeURL('/js/jquery.validate.min.js') %>"></script>
    <script type="text/javascript" src="<%- makeURL('/bootstrap/js/bootstrap.min.js') %>"></script>
    <script type="text/javascript" src="<%- makeURL('/js/bootbox.min.js') %>"></script>
    <script type="text/javascript" src="<%- makeURL('/js/bootstrap-switch.min.js') %>"></script>
    <script type="text/javascript" src="<%- makeURL('/js/highcharts.js') %>"></script>
    <script type="text/javascript" src="<%- makeURL('/js/simple-statistics.min.js') %>"></script>

    <style>
        body{ padding-top: 70px; }
    </style>
</head>
<body class="bgcolors">

<nav id="main-menu" class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <span class="navbar-brand" style="padding:8px;">
          <a href="<%- makeURL('/admin') %>">
            <img src="<%- makeURL('/images/s-logo-white.png') %>" style="height:100%; display:inline-block; margin-top:-9px;" alt="SimCase" />
            <%- app.name %>
          </a>
          <span id="module-name" class="title-color"><% if( typeof headerTitle != 'undefined' ){ %> <%- headerTitle %> <% }%>&nbsp;</span>
      </span>

    </div>
    <div id="navbar" class="navbar-collapse collapse">

        <!--
        <ul class="nav navbar-nav navbar-left">
            <li><a href="<%- makeURL('/admin/dashboard') %>">Dashboard</a></li>
            <li><a href="<%- makeURL('/admin/games') %>">Games</a></li>
            <li><a href="<%- makeURL('/admin/settings') %>">Settings</a></li>
        </ul>
        -->

        <ul class="nav navbar-nav navbar-right">

            <li id="slidemenu-btn">
                <a href="#">
                    Menu &nbsp; <i class="fa fa-bars"></i>
                </a>
            </li>

        </ul>

    </div>
  </div>
</nav>
