<!doctype html>
<html>
<head>
    <title><%- app.name %> by SimCase</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="<%- makeURL('/favicon.png') %>" type="image/png">

    <!-- CSS -->
    <link rel="stylesheet" href="<%- makeURL('/bootstrap/css/bootstrap.min.css') %>">
    <!-- Google Fonts -->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:300,400">
    <!-- COMMON -->
    <link rel="stylesheet" type="text/css" href="<%- makeURL('/css/common.css') %>">
    <!-- THEME -->
    <link rel="stylesheet" type="text/css" href="<%- makeURL('/css/theme-purple.css') %>">

    <!-- JS  TEST-->
    <script type="text/javascript" src="<%- makeURL('/js/jquery-1.11.0.min.js') %>"></script>
    <script type="text/javascript" src="<%- makeURL('/bootstrap/js/bootstrap.min.js') %>"></script>
    <style>
        body{
            min-height: 100vh;
        }

        h3{
            font-family: 'Lato', sans-serif;
            color: #444;
        }

        #splash-logo{
            margin: 30px 0;
        }

    </style>

    <script type="text/javascript">
        jQuery(document).ready(function(e){

            jQuery.ajax({
                url: 'oauth_provider',
                method: 'GET',
                success: function(authdata){

                    var oauthData = authdata;

                    console.log( oauthData );
                    console.log(oauthData.hub_url + '/oauth/authorize?client_id=' + oauthData.client_id + '&response_type=code&redirect_uri=' + oauthData.redirect_uri + '&scope=' + oauthData.scope);

                    // Login button
                    document.getElementById('login-btn').addEventListener('click', function(){
                        window.location.replace( oauthData.hub_url + '/oauth/authorize?client_id=' + oauthData.client_id + '&response_type=code&redirect_uri=' + oauthData.redirect_uri + '&scope=' + oauthData.scope );
                    });

                }
            });

        });
    </script>

</head>
<body class="bgicon">
    <div class="container">

        <div class="row height100">

            <!-- Sidebar -->
            <div class="panel-sidebar col-sm-3 text-center visible-sm visible-md visible-lg">
                <p class="v-center">
                    <img src="<%- makeURL('/images/logo_wide.min.png') %>" style="max-width:100%;" alt="SimCase" />
                    <br/>
                    <a href="http://simcase.io" target="_blank">Learn More</a>
                </p>
            </div>

            <!-- Main -->
            <div class="col-sm-5 col-sm-offset-5 col-xs-10 col-xs-offset-1 panel v-center">

                <h3 class="text-center mt40">Welcome to <span class="title-color"><%- app.name %></span></h3>

                <div class="text-center mb20">
                    <img id="splash-logo" src="<%- makeURL('/game_assets/assets/icon-optimization.png') %>" alt="Functions" />
                </div>

                <div class="row text-center mb40">

                    <div class="col-xs-8 col-xs-offset-2">
                        <span id="login-btn" class="btn btn-primary btn-lg btn-block">Log In</span>
                    </div>

                    <div class="col-xs-12 mt30 visible-xs">
                        <small class="text-muted">
                            <img src="<%- makeURL('/game_assets/assets/icon.png') %>" alt="SimCase" style="width:20px;" />
                            <br/>
                            Developed by SimCase
                        </small>
                    </div>

                </div>

            </div>

        </div>

    </div>
</body>
</html>
