<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <meta name="description" content="">
    <meta name="author" content="SimCase">

    <title><%- app.name %> - simcase.io</title>

    <link rel="shortcut icon" href="<%- makeURL('/favicon.png') %>" type="image/png">

    <!-- Google Fonts -->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:300,400">

    <!-- Bootstrap core CSS -->
    <link href="<%- makeURL('/game_assets/bootstrap/css/bootstrap.min.css') %>" rel="stylesheet">

    <!-- Animate CSS -->
    <link href="<%- makeURL('/game_assets/css/animate.css') %>" rel="stylesheet">

    <!-- App base structure -->
    <link href="<%- makeURL('/game_assets/css/style.css') %>" rel="stylesheet">

    <!-- Icofont -->
    <link href="<%- makeURL('/game_assets/icofont/css/icofont.css') %>" rel="stylesheet">

    <!-- Custom styles for this app -->
    <link href="<%- makeURL('/game_assets/css/app.css') %>" rel="stylesheet">

    <!-- Base template styles for this app -->
    <link href="<%- makeURL('/game_assets/css/template-base.css') %>" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        body{
            max-width: 100%;
            padding: 0;
            background:#eee;
        }
        .error{
            color: #a94442;
            background-color: #f2dede;
        }
        @media (min-width: 768px){
            .lead {font-size: 18px;}
        }
    </style>

  </head>

  <body>

    <div class="container-fluid mt45">

        <h2 class="mt60 text-center">Join <%- app.name %></h2>

        <div id="register-form" class="form">

            <p class="lead text-center">Enter your email and you will be registered to play.</p>

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">

                    <div class="form-group">
                        <input type="text" id="name-input" class="form-control input-lg" value="" placeholder="Enter your name" />
                    </div>

                    <div class="form-group">
                        <input type="text" id="lastname-input" class="form-control input-lg" value="" placeholder="Enter your surname" />
                    </div>

                    <div class="form-group">
                        <input type="email" id="email-input" class="form-control input-lg" value="" placeholder="Enter your email address" />
                    </div>

                    <input type="submit" id="register-btn" class="btn btn-lg btn-success btn-block" value="Submit" />

                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <p id="register-message" class="lead text-center mt20 hide"></p>
            </div>
        </div>

    </div>


    <!-- Libraries -->
    <script src="<%- makeURL('/socket.io/socket.io.js') %>"></script>
    <script src="<%- makeURL('/game_assets/js/jquery-1.11.0.min.js') %>"></script>
    <script src="<%- makeURL('/game_assets/bootstrap/js/bootstrap.min.js') %>"></script>
    <script src="<%- makeURL('/game_assets/js/bootbox.min.js') %>"></script>
    <script src="<%- makeURL('/game_assets/js/fastclick.js') %>"></script>

    <!-- Objects & Helpers -->
    <script src="<%- makeURL('/game_assets/js/utils.js') %>"></script>

    <!-- Inline Script -->
    <script>
        // Get the local API info
        jQuery(document).ready(function(){
            // API data: Request and then start the game
            jQuery.ajax({
                url: '<%- makeURL('/oauth_provider') %>',
                method: 'GET',
                success: function( authdata ){

                    var oauthData = authdata;

                    var socket = io.connect(oauthData.io_domain, {path: oauthData.io_path});

                    // Listen Socket
                    socket.on('launch', function(data){
                        window.location.href = data.link;
                    });

                    document.getElementById('register-btn').addEventListener('click', function(){

                        var nameInput     = document.getElementById('name-input').value;
                        var lastnameInput = document.getElementById('lastname-input').value;
                        var emailAddress  = document.getElementById('email-input').value;

                        // Validate: Name
                        if( nameInput.trim().length == 0 ){
                            document.getElementById('name-input').classList.add('error');
                            return document.getElementById('name-input').focus();
                        }

                        // Validate: Surname
                        if( lastnameInput.trim().length == 0 ){
                            document.getElementById('lastname-input').classList.add('error');
                            return document.getElementById('lastname-input').focus();
                        }


                        if( isValidEmailAddress(emailAddress) ){

                            socket.emit('joinplayer', {
                                game_id: '<%- game_id %>',
                                name: nameInput,
                                lastname: lastnameInput,
                                email: emailAddress
                            },
                            function(res){

                                console.log(res);

                                if( typeof res.error != 'undefined' ){
                                    bootbox.alert({
                                        title: 'Error',
                                        message: res.error
                                    });
                                }

                                if( typeof res.email != 'undefined' ){
                                    document.getElementById('register-form').classList.add('hide');
                                    document.getElementById('register-message').innerHTML = 'Thanks!<br/>You have been successfully registered. <b>Keep this tab open</b> and you will be automatically redirected upon game launch.<br/><br/>';
                                    document.getElementById('register-message').innerHTML += 'If you mistakingly close this window, check your email (' + res.email + ') for your magic-link which will allow you to rejoin the game.';
                                    document.getElementById('register-message').classList.remove('hide');
                                }

                            });

                        }else{
                            document.getElementById('email-input').classList.add('error');
                            document.getElementById('email-input').focus();
                        }

                    });

                    document.getElementById('email-input').addEventListener('keydown', function(){
                        document.getElementById('email-input').classList.remove('error');
                    });

                    document.getElementById('name-input').addEventListener('keydown', function(){
                        document.getElementById('name-input').classList.remove('error');
                    });

                    document.getElementById('lastname-input').addEventListener('keydown', function(){
                        document.getElementById('lastname-input').classList.remove('error');
                    });

                }
            });
        });
    </script>

  </body>
</html>
