
        <!-- ***************************** -->
        <!-- ******** GAME SCREENS ******* -->
        <!-- ***************************** -->

        <!-- Screen 1 - Debrief -->
        <div id="main_debrief">
                <div class="container-fluid">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs nav-justified mt10" role="tablist">
                        <li role="presentation" class="active"><a href="#tab-overview"  role="tab" data-toggle="tab">Overview</a></li>
                        <li role="presentation"><a href="#tab-math"  role="tab" data-toggle="tab">Math Detail</a></li>
                        <li role="presentation" ><a id="breakdown-btn" href="#tab-breakdown"  role="tab" data-toggle="tab">Breakdown</a></li>
                        <li role="presentation"><a id="response-btn" href="#tab-response"  role="tab" data-toggle="tab">Free Response</a></li>
                        <li role="presentation"><a href="#tab-leaderboard"  role="tab" data-toggle="tab">Leaderboard</a></li>
                        <li role="presentation"><a href="#tab-download"  role="tab" data-toggle="tab">Download</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">

                        <!-- Breakdown -->
                        <div role="tabpanel" class="tab-pane active" id="tab-overview">
                            <div class="col-sm-6 mt20">
                                <div>
                                    <h4>Game Overview:</h4>
                                    Students play as a product manager for the e-commerce website Nile.com
                                    for 3 verticals: Retail, Kitchenware and Electronics. In preparation for
                                    Cyber Monday sales this holiday season students must select the right item
                                    to display on their site to maximize profit.
                                </div>
                                <div>
                                    <h4>Student Objectives:</h4>
                                    <ol>
                                        <li>Maximize revenue by selecting the optimum price when provided a <strong>power</strong> function</li>
                                        <li>Minimize shipping costs by selecting the optimum shipping window in days (d) when provided an <strong>exponential or logarithmic</strong> function</li>
                                    </ol>
                                </div>
                                <div>
                                    <i>*All objectives require students to practice deriving functions and finding an optimum</i>
                                </div>
                            </div>
                            <div class="col-sm-6 mt20">
                                <h4>Example From the Game:</h4>
                                <img src="<%- makeURL('/game_assets/assets/content/game_example.png') %>" width="90%">
                            </div>

                        </div>

                        <div role="tabpanel" class="tab-pane" id="tab-math">

                           <div class="col-sm-6 mt20">
                                <div>
                                    <h4>Important Details:</h4>
                                    When a student is asked to derive a function the game <strong>randomly generates a
                                    formula for them.</strong> All revenue functions are power functions and all cost
                                    functions are either logarithmic or exponential. This is an important distinction
                                    when viewing the ‘Breakdown’ on the next tab so you can identify where students are
                                    having trouble.

                                </div>
                                <div>
                                    <br>
                                    Please note that some cost functions will also require the student to
                                    apply the Chain Rule or Product Rule when deriving.
                                    Here are some examples of formulas students will see:
                                </div>
                                <div class="minipad bg-white mt20">
                                    <table  class="table table-bordered mt10">
                                        <tbody>
                                            <tr>
                                                <td><strong>Maximize Revenue</strong></td>
                                                <td>-x<sup>3</sup> + 50x<sup>2</sup> + 250x<br>
                                                -2x<sup>3</sup> + 75x<sup>2</sup> + 300x</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Minimize Costs</strong></td>
                                                <td>.06x<sup>2</sup> + .5ln(x) + 25<br>
                                                .01x<sup>2</sup>e<sup>x</sup> -.5x + 25</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                </div>
                                <div class="col-sm-6 mt20">
                                    <h4>In-game hint for students:</h4>
                                    <img src="<%- makeURL('/game_assets/assets/content/cheat_sheet2.png') %>" width="90%">
                                </div>

                            </div>

                        <!-- Breakdown -->
                        <div role="tabpanel" class="tab-pane" id="tab-breakdown">

                            <div class="col-xs-12 col-md-6">
                                <div id="revenue-chart" class="mt20">
                                                                </div>
                                <img class="chart-help" id="help-1" src="<%- makeURL('/game_assets/assets/content/help.png') %>">
                                <div class="center">What do these scores mean? <img class="help" id="help-3" src="<%- makeURL('/game_assets/assets/content/help.png') %>"></div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div id="cost-chart" class="mt20"></div>
                                <img class="chart-help" id="help-2" src="<%- makeURL('/game_assets/assets/content/help.png') %>">
                            </div>

                        </div>

                        <!-- Free Response -->
                        <div role="tabpanel" class="tab-pane" id="tab-response">
                                <!-- Retail Free Response -->
                                <div class="col-sm-4 mt20">
                                    <div class="col-xs-12">
                                        <div class="minipad bg-white">
                                            <h4>Context:</h4>
                                            <div id="retail-context">While reviewing competitor sites you see that the item you selected is being offered at a 10% discount to your optimal price! What do you do?</div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div id="retail-pie" class="highcharts-container piechart mt20"></div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="minipad bg-white mt20">
                                            <table  class="result-table table table-bordered mt10">
                                                <thead>
                                                    <th>Action</th>
                                                    <th>Factors</th>
                                                </thead>
                                                <tbody id="retail-factors">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <!-- Kitchenware Free Response -->
                                <div class="col-sm-4 mt20">

                                    <div class="col-xs-12">
                                        <div class="minipad bg-white">
                                            <h4>Context:</h4>
                                            <div id="kitchenware-context">Recent user reviews for your kitchenware product are less than stellar.  About 25% of reviewers report broken or unusable items and the return shipping is wiping out much of your profit. What do you do?</div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12">
                                        <div id="kitchenware-pie" class="highcharts-container piechart mt20"></div>
                                    </div>

                                    <div class="col-xs-12">
                                        <div class="minipad bg-white mt20">
                                            <table  class="result-table table table-bordered mt10">
                                                <thead>
                                                    <th>Action</th>
                                                    <th>Factors</th>
                                                </thead>
                                                <tbody id="kitchenware-factors">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <!-- Electronics Free Response -->
                                <div class="col-sm-4 mt20">
                                    <div class="col-xs-12">
                                        <div class="minipad bg-white">
                                            <h4>Context:</h4>
                                            <div id="electronics-context">You get a call from your electronics manufacturer and unfortunately they can only deliver on 50% of your order. What do you do?</div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div id="electronics-pie" class="highcharts-container piechart mt20"></div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="minipad bg-white mt20">
                                            <table class="result-table table table-bordered mt10">
                                                <thead>
                                                    <th>Action</th>
                                                    <th>Factors</th>
                                                </thead>
                                                <tbody id="electronics-factors" >
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <!-- Breakdown -->
                        <div role="tabpanel" class="tab-pane" id="tab-leaderboard">

                            <div class="col-xs-12 col-sm-6 col-md-3 mt20 border-right">
                                <img class="leaderboard-icon" src="<%- makeURL('/game_assets/assets/content/overall_icon.png') %>">
                                <h4>Overall Accuracy</h4>
                                <table class="result-table table table-bordered mt10">
                                    <tbody id="overall-leaders">

                                    </tbody>
                                </table>
                            </div>

                             <div class="col-xs-12 col-sm-6 col-md-3 mt20">
                                <img class="leaderboard-icon" src="<%- makeURL('/game_assets/assets/content/retail_icon.png') %>">
                                <h4>Total Profit: Retail</h4>
                                <table class="result-table table table-bordered mt10">
                                    <tbody id="retail-leaders">

                                    </tbody>
                                </table>
                            </div>

                             <div class="col-xs-12 col-sm-6 col-md-3 mt20">
                                <img class="leaderboard-icon" src="<%- makeURL('/game_assets/assets/content/kitchenware_icon.png') %>">
                                <h4>Total Profit: Kitchenware</h4>
                                <table class="result-table table table-bordered mt10">
                                    <tbody id="kitchenware-leaders">

                                    </tbody>
                                </table>
                            </div>

                             <div class="col-xs-12 col-sm-6 col-md-3 mt20">
                                <img class="leaderboard-icon" src="<%- makeURL('/game_assets/assets/content/electronics_icon.png') %>">
                                <h4>Total Profit: Electronics</h4>
                                <table class="result-table table table-bordered mt10">
                                    <tbody id="electronics-leaders">

                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                </div>
        </div>

