<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <meta name="description" content="">
    <meta name="author" content="SimCase">

    <title><%- app.name %> - SimCase</title>

    <!--<link rel="shortcut icon" href="../../assets/ico/favicon.ico">-->

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    <link href="<%- makeURL('/game_assets/bootstrap/css/bootstrap.min.css') %>" rel="stylesheet">

    <!-- App base structure -->
    <link href="<%- makeURL('/game_assets/css/style.css') %>" rel="stylesheet">

    <!-- Icofont -->
    <link href="<%- makeURL('/game_assets/icofont/css/icofont.css') %>" rel="stylesheet">

    <!-- Custom styles for this app -->
    <link href="<%- makeURL('/game_assets/css/app.css') %>" rel="stylesheet">
    <!-- Base template styles for this app -->
    <link href="<%- makeURL('/game_assets/css/template-base.css') %>" rel="stylesheet">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body style="position:relative;">

    <!-- Gamebox -->
    <div id="appbox">


        <!-- Navbar -->
        <nav class="navbar-ds">
            <ul class="nav-ds">
                <li id="menu-btn-left" class="pull-left" data-toggle="modal" data-target="#quitModal"
                   data-title="Are you sure you want to exit?" data-body="If you do, you will lose this game's progress.">
                    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                </li>
                <li class="brand">
                   <small class="fleft">Optimization</small>
                   <span><img id="nav-logo" src="<%- makeURL('/game_assets/assets/icon.png') %>" width="30" alt="" /></span>
                   <small class="fright">Levels</small>
                </li>
                <li id="menu-btn-right" class="pull-right">
                    <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                </li>
            </ul>
        </nav>


        <!-- ***************************** -->
        <!-- ******** GAME SCREENS ******* -->
        <!-- ***************************** -->

        <!-- Screen 1 - WALKTHROUGH -->
        <div id="walkthrough" class="screen current initial">

            <div class="container mt45">

                <img class="mt20 frontbanner" src="<%- makeURL('/game_assets/assets/content/cyber_monday_banner.png') %>" alt="Cyber Monday Sale">

                <div class="mt20 padd10 col-xs-12 col-sm-10 col-sm-offset-1 text-left">
                    The holiday season in the U.S. is almost here and you are preparing for online sales for Cyber Monday on your online e-commerce company, Nile.com.
                </div>
                <div class="padd10 col-xs-12 col-sm-10 col-sm-offset-1 text-left">
                    <strong>Role:</strong> You are a Product Managager and are responsible for the profits and losses of a number of sales categories.
                    Your decisions on pricing and shipping costs will directly affect your overall profit.
                </div>
                <div class="padd10 col-xs-12 col-sm-10 col-sm-offset-1 text-left">
                    <strong>Learning Objectives:</strong>
                    <ol>
                        <li>Derive a power function and identify an optimum</li>
                        <li>Derive exponential functions and identify an optimum</li>
                        <li>Derive logarithmic functions and identify an optimum</li>
                    </ol>
                    <div style="text-align:center">
                        <img class="frontgraph mt20" src="<%- makeURL('/game_assets/assets/content/walkthrough_graph.png') %>" alt="graph">
                    </div>
                </div>

                <div class="mt20 mb20 col-xs-12 col-sm-8 col-sm-offset-2">
                    <span id="begin" class="bottom-button btn btn-success">Start Game</span>
                </div>


            </div>
        </div>

        <!-- Screen 2 - ITEM TYPE SELECTION -->
        <div id="item-type-selection" class="screen">

            <div class="container mt45">

                <div class="mt20 padd10 col-xs-12 col-sm-10 col-sm-offset-1 text-left">
                    <strong>Goal:</strong> Maximize profits within each of the below categories. In order to do so you will be asked to review your inventory and select:
                    <ol>
                        <li>The item that will produce the most revenue</li>
                        <li>The shipping option that will provide the lowest cost</li>
                    </ol>
                    You are competing against the other Product Managers in your class
                    and will be able to view your performance at the end of the game. Good luck!
                    <div class="mt10">
                    <strong>Important: </strong><span class="red">Please round all answers to the nearest integer value</span>.
                    Additionally, click the <img src="<%- makeURL('/game_assets/assets/content/help.png') %>"> for hints throughout the game.
                    </div>
                </div>

                <div id="item-type-options" class="col-xs-12 col-sm-10 col-sm-offset-1">
                    <div class="mt20 row">
                        <div class="col-xs-12">
                            <img id="retail-icon" class="item-icon" src="<%- makeURL('/game_assets/assets/content/retail_icon.png') %>">
                            <span id="retail" class="scenario-button btn btn-success btn-lg">Retail</span>
                        </div>
                    </div>
                    <div class="mt20 row">
                        <div class="col-xs-12">
                            <img id="kitchenware-icon" class="item-icon" src="<%- makeURL('/game_assets/assets/content/kitchenware_icon.png') %>">
                            <span id="kitchenware" class="scenario-button long-text btn btn-success btn-lg">Kitchenware</span>
                        </div>
                    </div>
                    <div class="mt20 row">
                        <div class="col-xs-12">
                            <img id="electronics-icon" class="item-icon" src="<%- makeURL('/game_assets/assets/content/electronics_icon.png') %>">
                            <span id="electronics" class="scenario-button long-text btn btn-success btn-lg">Electronics</span>
                        </div>
                    </div>
                    <div class="mt20 padd10 row">
                        <div class="col-xs-12">
                            <button id="debriefButton" class="bottom-button scenario-button btn disabled btn-success mb20">
                                Go to Debrief
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Screen 3 - LEVEL SELECTION -->
        <div id="level-selection" class="screen">

            <div class="container mt45">
                <h4 class="padd10">Click the icon to get started</h4>

                <div id="level-options">
                    <div class="padd10 row level-row ">

                        <div class="col-xs-4">
                            <span class="icon-button active" id="revenue-start">
                                <img src="<%- makeURL('/game_assets/assets/content/revenue_icon.png') %>">
                            </span>
                            <h4 class="level-label">Revenue</h4>
                            <img id="revenue-progress" class="progressbar" src="<%- makeURL('/game_assets/assets/content/level_progressbar.png') %>">
                        </div>

                        <div class="col-sm-6 col-sm-offset-1 col-xs-8">
                            <div class="text-left minipad bg-white">
                                <h4 id="total-revenue">Calculate Net Revenue</h4>
                                <hr class="no-margin">
                                <div id="revenue-price" role="menuitem" tabindex="-1" href="#">Optimal Price:</div>
                                <div id="revenue-units-sold" role="menuitem" tabindex="-1" href="#">Units Sold:</div>
                            </div>
                        </div>

                    </div>
                    <div class="padd10 row level-row">
                        <div class="col-xs-4">
                            <span class="icon-button" id="cost-start">
                                <img src="<%- makeURL('/game_assets/assets/content/cost_icon.png') %>">
                            </span>
                            <h4 class="level-label">Costs</h4>
                            <img id="cost-progress" class="progressbar" src="<%- makeURL('/game_assets/assets/content/level_progressbar.png') %>">
                        </div>
                        <div class="col-sm-6 col-sm-offset-1 col-xs-8">
                            <div class="text-left minipad bg-white">
                                <h4 id="total-cost">Calculate Total Costs</h4>
                                <hr class="no-margin">
                                <div id="cost-per-unit" role="menuitem" tabindex="-1" href="#">Shipping Cost/Unit:</div>
                                <div id="cost-units-sold" role="menuitem" tabindex="-1" href="#">Units Sold:</div>
                            </div>
                        </div>
                    </div>
                    <div class="padd10 row level-row">
                        <div class="col-xs-4">
                            <span class="icon-button" id="profit-icon" style="cursor:default !important">
                                <img src="<%- makeURL('/game_assets/assets/content/profit_icon.png') %>">
                            </span>
                            <h4 class="level-label" >Profit</h4>
                        </div>
                        <div id="profit-container" class="col-sm-6 col-sm-offset-1 col-xs-8">
                            <div class="text-left minipad bg-white">
                                <h4 id="total-profits">Calculate Net Revenue</h4>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Screen 4 - REVENUE SELECTION -->
        <div id="revenue-selection" class="screen">

            <div class="container mt45">

                <div class="padd10 col-xs-12 text-left mt20">
                    <strong>What to do:</strong>
                    <ol>
                        <li>Determine which will drive the highest revenue by reviewing their revenue curves.</li>
                        <li>Calculate the optimal price using what you know about derivatives.</li>
                    </ol>
                </div>
                <div class="padd10 text-left">
                    You do not need to worry about Fixed Costs. They have been rolled up into the revenue formulas below.
                </div>

                <!-- Container for the game items -->
                <label class="mt10">Available Items</label>
                <div class="minipad bg-white">
                    <div id="items-grid" class="clearfix"></div>
                </div>

                <!-- Graph for each item -->
                <label class="mt20">Revenue Curve: Selected Item</label>
                <canvas id="graph" class="hide"></canvas>
                <div id="chart_div"></div>

                <label class="mt20">Revenue Function: Selected Item</label>
                <div class="minipad bg-white">
                    <!-- Item table -->
                    <table class="table text-center" style="margin-bottom:0;">
                       <thead>
                          <th class="text-center">f(p) = Revenue, where p is the price of the item</th>
                       </thead>
                       <tbody>
                           <tr>
                               <td id="formula_val">--</td>
                           </tr>
                       </tbody>
                    </table>
                </div>

                <p class="text-center mb20 mt20">
                    <button id="confirm-item-selection" class="btn btn-success btn-lg">Confirm Selection</button>
                </p>

            </div>
        </div>

        <!-- SCREEN-5 - SET PRICE -->
        <div id="set-price" class="screen">

            <div class="container mt45">

                <h4 class="mt20">Set the Optimal Price <img class="help" id="help-1" src="<%- makeURL('/game_assets/assets/content/help.png') %>"></h4>

                <!-- Item table -->
                <label class="mt10">Revenue Function</label>
                <div class="minipad bg-white">
                    <table class="table text-center" style="margin-bottom:0;">
                       <thead>
                           <th class="text-center">f(p) = Revenue</th>
                       </thead>
                       <tbody>
                           <tr>
                               <td id="s2_formula_val">intercept * price<sup>2</sup> + slope * price</td>
                           </tr>
                       </tbody>
                    </table>
                </div>

                <label class="mt20">Calculate the Optimal Price <img class="help" id="help-2" src="<%- makeURL('/game_assets/assets/content/help.png') %>"></label>
                <div class="minipad bg-white">
                    <div class="form form-inline">
                      <div class="form-group" style="margin-bottom:0;">
                        <label class="sr-only" for="calculation-price">Input Price: </label>
                        <div class="input-group">
                          <input type="text" class="form-control input-lg" id="calculation-price" placeholder="Optimal Price">
                          <div class="input-group-addon">USD</div>
                        </div>
                      </div>
                    </div>
                </div>

                <button id="confirm-revenue-calc" class="btn btn-success btn-lg mt20">Confirm Input</button>

            </div>
        </div>


        <!-- SCREEN 6 - REVENUE RESULT -->
        <div id="revenue-result" class="screen">

            <div class="container mt45">

                <label class="mt20">Feedback: Calculation</label>
                <div class="minipad bg-white">
                    <table class="table text-center" style="margin-bottom:0;">
                       <thead>
                           <th class="text-center">Optimal Price</th>
                           <th class="text-center">Your Price</th>
                           <th class="text-center">Result</th>
                       </thead>
                       <tbody>
                           <tr>
                               <td id="result-rc-correct">-</td>
                               <td id="result-rc-calculation">-</td>
                               <td>
                                   <span id="result-rcal-icon" class="glyphicon"></span>
                                </td>
                           </tr>
                       </tbody>
                    </table>
                </div>
                <div class="mt20 minipad bg-white">
                    <table class="table text-center" style="margin-bottom:0;">
                       <thead>
                           <th class="text-center"></th>
                           <th class="text-center">Function</th>
                           <th class="text-center">Result</th>
                       </thead>
                       <tbody>
                           <tr>
                               <td><strong>Revenue</strong></td>
                               <td id="rev-formula-result">-</td>
                               <td id="rev-total-result">-</td>
                           </tr>
                           <tr>
                               <td><img class="help" id="help-7"  src="<%- makeURL('/game_assets/assets/content/help.png') %>"><strong> Units Sold</strong></td>
                               <td>f(p)/p</td>
                               <td id="units-total-result">-</td>
                           </tr>
                       </tbody>
                    </table>
                </div>

                <label class="mt20">Feedback: Item Selection</label>
                <div class="minipad bg-white">
                    <div id="result-item-grid" class="clearfix">
                    </div>
                </div>

                <label class="mt20">Revenue Curve: Selected Item</label>
                <div id="rev_result_chart_div"></div>

                <!-- Buttons -->
                <div class="row mt20 mb20 center">
                    <a href="#" id="finish-revenue" class="btn btn-success btn-lg mt20">Finish Revenue</a>
                </div>

            </div>

        </div>

        <!-- SCREEN 7 - REVENUE RESPONSE -->
        <div id="revenue-response" class="screen">
            <div class="container mt45">

                <div class="minipad bg-white mt20">
                    <h4>** New Information **</h4>
                    <span id="response-info"></span>
                </div>

                <div class="minipad bg-white mt20">
                    <span id="response-question"></span>
                    <div id="revenue-response-buttons">
                        <a href="#" id="rb1" class="response-button mlr10 btn btn-info btn-lg"></a>
                        <a href="#" id="rb2" class="response-button mlr10 btn btn-info btn-lg"></a>
                        <a href="#" id="rb3" class="response-button mlr10 btn btn-info btn-lg"></a>
                    </div>
                </div>

                <div class="minipad bg-white mt20">
                    <div><strong>What factors do you believe are important to your decision about pricing? (no idea is too out there! Bullet points are fine):</strong></div>
                    <textarea class="form-control mt20" rows="5" id="revenue-response-text"></textarea>
                </div>

                <div class="row mt20 mb20 center">
                    <a href="#" id="finish-revenue-response" class="btn btn-success btn-lg mt20">Continue</a>
                </div>
            </div>
        </div>

        <!-- Screen 8 - COST SELECTION -->
        <div id="cost-selection" class="screen">

            <div class="container mt45">

                <div class="padd10 col-xs-12 text-left">
                    <strong>What to do:</strong> Those customers want their items!
                    You must now assess which shipping option will minimize cost:
                    <ol>
                        <li>Determine the number of days that will minimize shipping costs.</li>
                    </ol>
                </div>
                <canvas id="cost_graph" class="hide"></canvas>
                <div class="col-xs-12" id="cost_chart_div"></div>
                <div class="padd10 col-xs-12">
                    <h4>Set Optimal Cost from Cost Curve <img class="help" id="help-3" src="<%- makeURL('/game_assets/assets/content/help.png') %>"></h4>
                </div>
                <div class="col-xs-12 minipad bg-white">
                    <!-- Item table -->
                    <table class="table text-center" style="margin-bottom:0;">
                       <thead>
                          <th class="text-center">f(d) = Cost, where d is the # of days shipping will take</th>
                       </thead>
                       <tbody>
                           <tr>
                               <td id="cost_formula_val">--</td>
                           </tr>
                       </tbody>
                    </table>

                </div>
                <div class="padd10 col-xs-12">
                    <h4>Calculate the Optimal # of days(d) <img class="help" id="help-4" src="<%- makeURL('/game_assets/assets/content/help.png') %>"></h4>
                </div>

                <div class="minipad bg-white col-xs-12">

                    <div class="form form-inline">
                      <div class="form-group" style="margin-bottom:0;">
                        <div class="input-group">
                          <input type="text" class="form-control input-lg" id="calculation-days" placeholder="Optimal # of days">
                          <div class="input-group-addon">Days</div>
                        </div>
                      </div>
                    </div>
                </div>

                <button id="confirm-cost-selection" class="bottom-button mt20 mb20 btn btn-success">Continue</button>
            </div>
        </div>


        <!-- SCREEN 9 - COST RESULT -->
        <div id="cost-result" class="screen">

            <div class="container mt45">

                <label class="mt20">Feedback: Cost Calculation</label>
                <div class="minipad bg-white">
                    <table class="table text-center" style="margin-bottom:0;">
                       <thead>
                           <th class="text-center">Optimal d</th>
                           <th class="text-center">Your d</th>
                           <th class="text-center">Result</th>
                       </thead>
                       <tbody>
                           <tr>
                               <td id="result-cost-correct">-</td>
                               <td id="result-cost-calculation">-</td>
                               <td>
                                   <span id="result-cost-icon" class="glyphicon"></span>
                                </td>
                           </tr>
                       </tbody>
                    </table>
                </div>
                <div class="mt20 minipad bg-white">
                    <table class="table text-center" style="margin-bottom:0;">
                       <thead>
                           <th class="text-center"></th>
                           <th class="text-center">Function</th>
                           <th class="text-center">Result</th>
                       </thead>
                       <tbody>
                           <tr>
                               <td><strong>Shipping Cost/Unit</strong></td>
                               <td id="cost-formula-result">-</td>
                               <td id="cost-unit-result">-</td>
                           </tr>
                       </tbody>
                    </table>
                </div>


                <div class="mt20" id="cost_result_chart_div"></div>

                <!-- Buttons -->
                <div class="row mt20 mb20 center">
                    <a href="#" id="finish-cost" class="btn btn-success btn-lg mt20">Calculate Profit</a>
                </div>

            </div>

        </div>

        <%- include debrief.ejs %>

        <!-- ***************************** -->
        <!-- ******* /GAME SCREENS ******* -->
        <!-- ***************************** -->

        <!-- Spinnign loader -->
        <div id="loader" class="">
            <div class="spinner"></div>
        </div>


        <div class="modal" id="menu-modal" tabindex="-1" role="dialog" aria-labelledby="popup-modal-label">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div id="slide-menu" class="modal-body">

                    <ul class="text-center">
                        <li id="close-menu" class="close-menu"><span>Close</span></li>
                        <li><span id="about">About</span></li>
                        <li><a href="#" tabindex="-1">Logout</a></li>
                    </ul>

                </div>
            </div>
          </div>
        </div>


        <!-- Quit Modal -->
        <div class="modal fade" id="quitModal" tabindex="-1" role="dialog" aria-labelledby="quitModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="quitModalTitle"></h4>
              </div>
              <div id="quitModalBody" class="modal-body">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                <a href="javascript:location.reload();" class="btn btn-danger">Exit</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Alert Modal -->
        <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="alertModalTitle"></h4>
              </div>
              <div id="alertModalBody" class="modal-body">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Popup -->
        <div id="popup"></div>

        <!-- Pre-loaders -->
        <span id="pl-splash-bottom"></span>

    </div>


    <!-- Menu Panels -->
    <div id="menutabs" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"></h4>
          </div>
          <div class="modal-body">

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Libraries -->
    <script src="<%- makeURL('/socket.io/socket.io.js') %>"></script>
    <script type="text/javascript" src="<%- makeURL('/js/jquery-1.11.0.min.js') %>"></script>
    <script type="text/javascript" src="<%- makeURL('/js/highcharts.js') %>"></script>
    <script type="text/javascript" src="<%- makeURL('/bootstrap/js/bootstrap.min.js') %>"></script>
    <script type="text/javascript" src="<%- makeURL('/game_assets/js/fastclick.js') %>"></script>

    <!-- Objects & Helpers -->
    <script type="text/javascript" src="<%- makeURL('/game_assets/js/utils.js') %>"></script>
    <script type="text/javascript" src="<%- makeURL('/game_assets/js/qappnav.js') %>"></script>

    <!-- App specific -->
    <script type="text/javascript" src="<%- makeURL('/game_assets/js/app.js') %>"></script>
    <script type="text/javascript" src="<%- makeURL('/game_assets/js/menu.js') %>"></script>
    <script type="text/javascript" src="<%- makeURL('/game_assets/js/debrief_utils.js') %>"></script>
    <script type="text/javascript" src="<%- makeURL('/game_assets/js/game_utils.js') %>"></script>

    <!-- Inline Script -->
    <script>
        // Get the local API info
        jQuery(document).ready(function(){
            // API data: Request and then start the game
            jQuery.ajax({
                url: 'oauth_provider',
                method: 'GET',
                success: function( authdata ){

                    var oauthData = authdata;
                    console.log( oauthData );
                    appinit({ io_domain: oauthData.io_domain, io_path: oauthData.io_path, site_url: oauthData.site_url });

                }
            });

        });
    </script>

  </body>
</html>
