<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <meta name="description" content="">
    <meta name="author" content="SimCase">

    <title><%- app.name %> - SimCase</title>

    <!--<link rel="shortcut icon" href="../../assets/ico/favicon.ico">-->

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    <link href="<%- makeURL('/game_assets/bootstrap/css/bootstrap.min.css') %>" rel="stylesheet">

    <!-- App base structure -->
    <link href="<%- makeURL('/game_assets/css/style.css') %>" rel="stylesheet">

    <!-- Icofont -->
    <link href="<%- makeURL('/game_assets/icofont/css/icofont.css') %>" rel="stylesheet">

    <!-- Custom styles for this app -->
    <link href="<%- makeURL('/game_assets/css/app.css') %>" rel="stylesheet">
    <!-- Base template styles for this app -->
    <link href="<%- makeURL('/game_assets/css/template-base.css') %>" rel="stylesheet">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body style="position:relative;">

    <!-- Gamebox -->
    <div id="appbox">


        <!-- Navbar -->
        <nav class="navbar-ds">
            <ul class="nav-ds">
                <li id="menu-btn-left" class="pull-left" data-toggle="modal" data-target="#quitModal"
                   data-title="Are you sure you want to exit?" data-body="If you do, you will lose this game's progress.">
                    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                </li>
                <li class="brand">
                   <small class="fleft">BaseApp</small>
                   <span><img id="nav-logo" src="<%- makeURL('/game_assets/assets/icon.png') %>" width="30" alt="" /></span>
                   <small class="fright">Subtitle</small>
                </li>
                <li id="menu-btn-right" class="pull-right">
                    <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                </li>
            </ul>
        </nav>


        <!-- ***************************** -->
        <!-- ******** GAME SCREENS ******* -->
        <!-- ***************************** -->

        <!-- Screen 1 - WALKTHROUGH -->
        <div id="screen1" class="screen current initial">

            <div class="container mt45">
                <div class="mt20">
                    Screen 1
                </div>
                <div class="mt20 mb20 col-xs-12 col-sm-8 col-sm-offset-2">
                    <span id="begin" class="bottom-button btn btn-success">Start Game</span>
                </div>


            </div>
        </div>

        <!-- Screen 2 - ITEM TYPE SELECTION -->
        <div id="screen2" class="screen">

            <div class="container mt45">

                <div class="mt20">
                    Screen 2
                </div>

            </div>
        </div>
        
        <!-- ***************************** -->
        <!-- ******* /GAME SCREENS ******* -->
        <!-- ***************************** -->

        <!-- Spinnign loader -->
        <div id="loader" class="">
            <div class="spinner"></div>
        </div>


        <div class="modal" id="menu-modal" tabindex="-1" role="dialog" aria-labelledby="popup-modal-label">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div id="slide-menu" class="modal-body">

                    <ul class="text-center">
                        <li id="close-menu" class="close-menu"><span>Close</span></li>
                        <li><span id="about">About</span></li>
                        <li><a href="#" tabindex="-1">Logout</a></li>
                    </ul>

                </div>
            </div>
          </div>
        </div>


        <!-- Quit Modal -->
        <div class="modal fade" id="quitModal" tabindex="-1" role="dialog" aria-labelledby="quitModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="quitModalTitle"></h4>
              </div>
              <div id="quitModalBody" class="modal-body">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                <a href="javascript:location.reload();" class="btn btn-danger">Exit</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Alert Modal -->
        <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="alertModalTitle"></h4>
              </div>
              <div id="alertModalBody" class="modal-body">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Popup -->
        <div id="popup"></div>

        <!-- Pre-loaders -->
        <span id="pl-splash-bottom"></span>

    </div>


    <!-- Menu Panels -->
    <div id="menutabs" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"></h4>
          </div>
          <div class="modal-body">

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Libraries -->
    <script src="<%- makeURL('/socket.io/socket.io.js') %>"></script>
    <script type="text/javascript" src="<%- makeURL('/js/jquery-1.11.0.min.js') %>"></script>
    <script type="text/javascript" src="<%- makeURL('/js/highcharts.js') %>"></script>
    <script type="text/javascript" src="<%- makeURL('/bootstrap/js/bootstrap.min.js') %>"></script>
    <script type="text/javascript" src="<%- makeURL('/game_assets/js/fastclick.js') %>"></script>

    <!-- Objects & Helpers -->
    <script type="text/javascript" src="<%- makeURL('/game_assets/js/utils.js') %>"></script>
    <script type="text/javascript" src="<%- makeURL('/game_assets/js/qappnav.js') %>"></script>

    <!-- App specific -->
    <script type="text/javascript" src="<%- makeURL('/game_assets/js/app.js') %>"></script>
    <script type="text/javascript" src="<%- makeURL('/game_assets/js/menu.js') %>"></script>
    <script type="text/javascript" src="<%- makeURL('/game_assets/js/debrief_utils.js') %>"></script>
    <script type="text/javascript" src="<%- makeURL('/game_assets/js/game_utils.js') %>"></script>

    <!-- Inline Script -->
    <script>
        // Get the local API info
        jQuery(document).ready(function(){
            // API data: Request and then start the game
            jQuery.ajax({
                url: 'oauth_provider',
                method: 'GET',
                success: function( authdata ){

                    var oauthData = authdata;
                    console.log( oauthData );
                    appinit({ io_domain: oauthData.io_domain, io_path: oauthData.io_path, site_url: oauthData.site_url });

                }
            });

        });
    </script>

  </body>
</html>
