<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <meta name="description" content="">
    <meta name="author" content="SimCase">

    <!-- App Title (Browser Tab...) -->
    <title>
        <%- app.name %> - SimCase</title>

    <link rel="shortcut icon" href="<%- makeURL('/favicon.png') %>" type="image/png">

    <!-- Animate CSS -->
    <link href="<%- makeURL('/game_assets/css/animate.css') %>" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="<%- makeURL('/game_assets/bootstrap/css/bootstrap.min.css') %>" rel="stylesheet">

    <!-- Highcharts -->
    <link href="<%- makeURL('/css/highcharts.css') %>" rel="stylesheet">

    <!-- App base structure -->
    <link href="<%- makeURL('/game_assets/css/style.css') %>" rel="stylesheet">

    <!-- Custom styles for this app -->
    <link href="<%- makeURL('/game_assets/css/app.css') %>" rel="stylesheet">

    <!-- Base template styles for this app -->
    <link href="<%- makeURL('/game_assets/css/template-base.css') %>" rel="stylesheet">

    <!-- App base structure -->
    <link href="<%- makeURL('/css/common.css') %>" rel="stylesheet">

    <!-- Optional Libraries: Remove CSS files you're not using -->
    <link href="<%- makeURL('/css/bootstrap-slider.min.css') %>" rel="stylesheet">

    <!-- Base template styles for this app -->
    <link href="<%- makeURL('/css/theme-purple.css') %>" rel="stylesheet">

    <!-- Google Fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:300,400">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="game bgicon" style="position:relative;">

    <!-- Gamebox -->
    <div id="appbox">


        <!-- Navbar -->
        <nav class="navbar-ds">
            <ul class="nav-ds">
                <li id="menu-btn-left" class="pull-left hide" data-toggle="modal" data-target="#quitModal" data-title="Are you sure you want to exit?"
                    data-body="If you do, you will lose this game's progress.">
                    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                </li>
                <li class="brand pull-left">
                    <small class="fleft"></small>
                    <span style="padding-left:10px; padding-right:10px;">

                        <img id="nav-logo" src="<%- makeURL('/game_assets/assets/icon.png') %>" width="30" alt="" />

                    </span>
                    <small class="fright">
                        <%- app.name %>
                            <i id="current-level"></i>
                    </small>
                </li>
                <li id="menu-btn-right" class="pull-right">
                    <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                </li>
            </ul>
        </nav>


        <!-- ***************************** -->
        <!-- ******** GAME SCREENS ******* -->
        <!-- ***************************** -->

        <!-- Screen 1 - WALKTHROUGH -->
        <div id="screen1" class="screen current initial">

            <div class="container v-center">

                <img id="nav-logo" src="<%- makeURL('/game_assets/img/apple-touch-icon-114x114.png') %>" alt="" />

                <h2>Welcome to BaseApp</h2>

                <p class="lead">This is the "Splash Screen".</p>

                <div class="mt20 mb20 col-xs-12 col-sm-8 col-sm-offset-2">
                    <span id="begin" class="btn btn-lg btn-primary">Start Game</span>
                </div>

            </div>
        </div>

        <!-- Screen 2 -->
        <div id="screen2" class="screen">

            <div class="container mt45">

                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">

                        <h3>Initial Quiz</h3>

                        <div class="form mt20 text-left">
                            <div class="form-group">
                                <label>What's your name?</label>
                                <input id="iq-1" class="form-control input-lg" placeholder="Enter your name" />
                            </div>
                            <div class="form-group mt20">
                                <label>What's your age?</label>
                                <br/>
                                <input id="age-slider" style="width:100%;" type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0"
                                />
                            </div>
                            <div class="form-group mt20">
                                <label>Where do you live?</label>
                                <input id="iq-2" class="form-control input-lg" placeholder="Country" />
                            </div>
                            <span id="to-screen-3" class="btn btn-primary btn-lg btn-block mt40">Next</span>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <!-- Screen 3 -->
        <!-- <div id="screen3" class="screen">

            <div class="container mt45">

                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">

                        <h3>
                            Select an option
                            <small>
                                <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="This is a bootstrap tooltip. Tooltips are initialized by default in the BaseApp."></span>
                            </small>
                        </h3>

                        <p class="lead">
                            This is a demo, here you can choose one of the items and continue.
                        </p>

                        <div class="row mt20">
                            <div class="col-xs-4">
                                <p class="text-muted">
                                    About this item
                                    <span class="about-item glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                                </p>
                                <label>
                                    <img src="http://lorempixel.com/150/150/animals/1" class="img-responsive" alt="Item 1" />
                                    <br/>
                                    <input id="item-1" type="radio" name="animal" value="1" /> Option 1
                                </label>
                            </div>
                            <div id="tour-2" class="col-xs-4">
                                <p class="text-muted">
                                    About this item
                                    <span class="about-item glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                                </p>
                                <label>
                                    <img src="http://lorempixel.com/150/150/animals/2" class="img-responsive" alt="Item 2" />
                                    <br/>
                                    <input id="item-2" type="radio" name="animal" value="2" /> Option 2
                                </label>
                            </div>
                            <div class="col-xs-4">
                                <p class="text-muted">
                                    About this item
                                    <span class="about-item glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                                </p>
                                <label>
                                    <img src="http://lorempixel.com/150/150/animals/3" class="img-responsive" alt="Item 3" />
                                    <br/>
                                    <input id="item-3" type="radio" name="animal" value="3" /> Option 3
                                </label>
                            </div>
                        </div>

                        <span id="to-screen-4" class="btn btn-primary btn-lg btn-block mt40">Next</span>

                    </div>
                </div>

            </div>
        </div> -->

        <!-- Screen 3 -->
        <div id="screen3" class="screen">

            <div class="container mt45" id="rootwizard">

                <div class="row">
                    <div id="nav-col" class="col-xs-11 col-xs-offset-1">
                        <ul>
                            <li id="des-tab" class="active">
                                <a data-toggle="tab" href="#description">Description &ensp;
                                    <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
                                </a>
                            </li>
                            <li id="cos-tab">
                                <a data-toggle="tab" href="#cost">Cost &ensp;
                                    <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
                                </a>
                            </li>
                            <li id="val-tab">
                                <a data-toggle="tab" href="#valuec">Value Chain &ensp;
                                    <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
                                </a>
                            </li>
                            <li id="sub-tab">
                                <a data-toggle="tab" href="#valuec">Submit</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="tab-content">
                    <div id="description" class="tab-pane fade in active">
                        <div class="container">
                            <div class="row cost-wrapper">
                                <div class="col-xs-12">
                                    <h4 class="text-center">1. Categorize cost centers by type</h4>
                                    <h5 class="text-center">(Based on 600k Units)</h5>
                                    <div class="btn-group" role="group" aria-label="">
                                        <button type="button" id="unit-btn" class="btn btn-default">Per Unit</button>
                                        <button type="button" id="abs-btn" class="btn btn-default">Absolute</button>
                                    </div>
                                </div>
                                <div id="cost-btn1" class="col-xs-5 cost-btn animated bounce">
                                    <h4>Marketing &amp; Adverting</h4>
                                    €
                                    <span id="ma-cost">1.50</span>
                                    <br>
                                    <p id="ma-type">(Click to Assing)</p>
                                </div>
                                <div id="cost-btn2" class="col-xs-5 cost-btn">
                                    <h4>Sales Comissions</h4>
                                    €
                                    <span id="sc-cost">0.16</span>
                                    <br>
                                    <p>Variable Cost</p>
                                </div>
                                <div id="cost-btn1" class="col-xs-5 cost-btn animated bounce">
                                    <h4>Research &amp; Development</h4>
                                    €
                                    <span id="rd-cost">1.50</span>
                                    <br>
                                    <p id="ma-type">(Click to Assing)</p>
                                </div>
                                <div id="cost-btn2" class="col-xs-5 cost-btn">
                                    <h4>Other Fixed Cost</h4>
                                    €
                                    <span id="of-cost">0.06</span>
                                    <br>
                                    <p>Fixed Cost</p>
                                </div>
                                <div id="cost-btn1" class="col-xs-5 cost-btn animated bounce">
                                    <h4>Shipping, Breakage, Insurance, etc.</h4>
                                    €
                                    <span id="sbi-cost">0.60</span>
                                    <br>
                                    <p id="ma-type">(Click to Assing)</p>
                                </div>
                                <div id="cost-btn2" class="col-xs-5 cost-btn">
                                    <h4>Variable Mfg. Cost</h4>
                                    €
                                    <span id="vm-cost">2.70</span>
                                    <br>
                                    <p>Variable Cost</p>
                                </div>
                            </div>
                        </div>
                        <a class="wz-next btn btn-primary btn btn-block mt40">Next</a>
                    </div>
                    <div id="cost" class="tab-pane fade">
                        <h3>Menu 1</h3>
                        <p>Some content in menu 1.</p>
                        <a class="wz-next btn btn-primary btn btn-block mt40">Next</a>
                    </div>
                    <div id="valuec" class="tab-pane fade">
                        <h3>Menu 2</h3>
                        <p>Some content in menu 2.</p>
                        <span id="to-screen-4" class="btn btn-primary btn-lg btn-block mt40">Next</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Screen 4 -->
        <div id="screen4" class="screen">

            <div class="container mt45">

                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">

                        <h3>Final Step</h3>

                        <p class="lead">
                            Sometimes, and based on the previous interactions, the user is presented with some data and must make a decision.
                        </p>

                        <div id="chart-1"></div>

                        <div class="form mt20 pb50 text-left">
                            <div class="form-group">
                                <label>
                                    How many animals were on the image?
                                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-trigger="hover" data-toggle="popover" title="Numeric Input"
                                        data-content="This is a native numeric input, check the onkeypress event to see the validations."></span>
                                </label>
                                <input id="animal-count" type="number" min="0" step="1" class="form-control input-lg" tabindex="-1" onkeypress='return event.charCode >= 48 && event.charCode <= 57 && this.value < 1000'
                                    placeholder="Enter the number of animals" />
                            </div>
                            <span id="to-screen-5" class="btn btn-primary btn-lg btn-block mt40">Next</span>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <!-- Screen 5 -->
        <div id="screen5" class="screen">

            <div class="container mt45">

                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">

                        <h3>Final Quiz</h3>

                        <div class="form mt20">
                            <div class="form-group text-center">
                                <label>Did you enjoy the game?</label>
                                <br/>
                                <div class="btn-group" data-toggle="buttons" style="width:50%;">
                                    <label class="btn btn-default btn-lg" style="width:50%;">
                                        <input id="final-radio-1" type="radio" name="enjoy" value="si" autocomplete="off"> Yes
                                    </label>
                                    <label class="btn btn-default btn-lg" style="width:50%;">
                                        <input id="final-radio-2" type="radio" name="enjoy" value="no" autocomplete="off"> No
                                    </label>
                                </div>
                            </div>

                            <div class="alert alert-info mt40">
                                At this point of the game, all the data generated by the user interacctions has been stored in an "result" JSON. By clicking
                                the "Submit &amp; Check Results" button the "result" object will be sent to the server using
                                AJAX or WebSockets.
                            </div>

                            <span id="to-screen-6" class="btn btn-primary btn-lg btn-block mt40">Submit &amp; Check Results</span>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <!-- Screen 6 -->
        <div id="screen6" class="screen">

            <div class="container mt45">

                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">

                        <h3>Feedback</h3>

                        <div id="chart-2"></div>

                        <label>What's your name?</label>
                        <p id="fb-name" class="lead"></p>

                        <label>What's your age?</label>
                        <p id="fb-age" class="lead"></p>

                        <label>Where do you live?</label>
                        <p id="fb-live" class="lead"></p>

                        <label>Selected item</label>
                        <p id="fb-item" class="lead"></p>

                        <label>Animals on the image</label>
                        <p id="fb-animals" class="lead"></p>

                        <label>Did you enjoy the SimCase?</label>
                        <p id="fb-enjoy" class="lead"></p>

                    </div>
                </div>

            </div>
        </div>



        <!-- ***************************** -->
        <!-- ******* /GAME SCREENS ******* -->
        <!-- ***************************** -->

        <!-- Spinnign loader -->
        <div id="loader" class="">
            <div class="spinner"></div>
        </div>

        <!-- Added by dsuarez (TK) -->
        <!-- Role Modal -->
        <div class="modal" id="role-modal" tabindex="-1" role="dialog" aria-labelledby="popup-modal-label">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        Role
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body role-modal-body" style="padding-top:0;">

                        <div id="role-carousel" class="carousel slide" data-ride="carousel" data-interval="false">

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">

                                <!-- Added by dsuarez (TK) -->
                                <div class="item-active">

                                    <div class="item-content">
                                        <div class="">

                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <img class="be-img-50 center-img" src="<%- makeURL('/game_assets/img/kellogg-logo-lg.png') %>" alt="" />
                                                    </div>
                                                    <div class="col-sm-12 underline">
                                                        <h5>
                                                            <strong>Hohner Musikinstrumente GmbH &amp; Co. KG:
                                                                <br>Break-Even Analysis</strong>
                                                        </h5>

                                                    </div>
                                                    <div class="col-sm-12">
                                                        <h6>JULIE HENNESSY AND EVAN MEAGHER</h6>
                                                        <p class="lead mt20 text-justify">Helmut Schmidt recently had been promoted to product manager for
                                                            Hohner Musikinstrumente GmbH & Co. KG, the world’s foremost manufacturer
                                                            of harmonicas, accordions, melodicas, and ukuleles. He was sitting
                                                            at his desk in Trossingen, Germany, reviewing his first assignment,
                                                            which had just come from the company’s senior executive team.
                                                            Schmidt, a marketing major who had barely survived Finance I,
                                                            had just two days to calculate the break-even point for the company’s
                                                            flagship product, the Marine Band harmonica.</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <h5>
                                                            <strong>A Brief History of the Harmonica</strong>
                                                        </h5>
                                                        <p class="lead mt20 text-justify">
                                                            Most historians track the harmonica’s roots to ancient China, where either Empress Nyu-kwa or Emperor Huang Tri—depending
                                                            on the source—invented the sheng in about 3000 B.C. This predecessor
                                                            to the harmonica used a similar “free-reed” design, in which
                                                            reeds were affixed to one end of a small, handheld base (the
                                                            wind chamber); by blowing into the mouthpiece, the player produced
                                                            a tone when the reeds vibrated. Over the next few thousand years,
                                                            such free-reed instruments became popular throughout Asia, ultimately
                                                            making their way to Europe, where organ makers such as John Buschmann
                                                            and his son Christian Friedrich Buschmann began producing smaller
                                                            and smaller versions in the early nineteenth century.
                                                        </p>
                                                        <p class="lead mt20 text-justify">In the 1850s, Joseph Richter, an American immigrant from the Czechoslovakian
                                                            region of Bohemia, invented the modern “diatonic” harmonica by
                                                            adding a second set of reeds on the other side of a cedar “comb,”
                                                            which were activated by breathing in rather than by blowing out
                                                            (see Exhibit 1). Today, this so-called Richter tuning remains
                                                            the most common tuning for harmonicas all over the world. The
                                                            design for the Richter-tuned harmonica, which combines layers
                                                            of reeds, a comb, and top and bottom cover plates, prompted harmonica
                                                            players to nickname it the “tin sandwich.”
                                                        </p>
                                                        <p class="lead mt20 text-justify">The Richter tuning originally was designed to play Eastern European
                                                            folk music, but the diatonic harmonica changed forever when its
                                                            popularity grew among American country musicians in the 1920s
                                                            and ’30s. Harmonica players such as Jaybird Coleman pioneered
                                                            the technique of playing the harmonica in a key a musical fifth
                                                            above the key the instrument was intended to be played—for example,
                                                            playing in the key of G on a harmonica tuned to the key of C.
                                                            This intentional corruption of the Richter tuning allowed players
                                                            to produce a variety of expressive bent notes now known as the
                                                            “blues scale.”</p>
                                                        <p class="lead mt20 text-justify">The instrument’s low price made it extremely popular, especially
                                                            among African American players, who called it the “Mississippi
                                                            Saxophone.” As they migrated in large numbers from the American
                                                            South to northern urban areas such as Chicago in the 1940s and
                                                            ’50s, the harmonica found its way into blues and jazz music.
                                                            This new style of playing combined with the cheap tweed amplifiers
                                                            and crystal element microphones popular at the time led to the
                                                            now-familiar compressed, squawking tone associated with blues
                                                            harmonica, or blues harp.</p>
                                                        <h5>
                                                            <strong>Hohner Musikinstrumente GmbH &amp; Co. KG</strong>
                                                        </h5>
                                                        <p class="lead mt20 text-justify">In 1857 the 24-year-old son of a German family of weavers purchased
                                                            one of the early handcrafted harmonicas and decided to go into
                                                            business manufacturing his own brand. During his first year of
                                                            business, Matthias Hohner, his wife, and one employee manufactured
                                                            650 harmonicas in their kitchen. Demand spiked after Hohner sent
                                                            some to cousins who had emigrated to the United States, and soon
                                                            after, Hohner Musikinstrumente GmbH &amp; Co. KG built the largest
                                                            harmonica fabrication facility in the world. The Hohner Marine
                                                            Band harmonica, named after the band led by John Philip Sousa,
                                                            was introduced in 1896 and went on to become the most popular
                                                            harmonica in the world.</p>
                                                        <p class="lead mt20 text-justify">After he died in 1893, Matthias Hohner’s sons began expanding the
                                                            product line to include accordions, later adding recorders and
                                                            melodicas (essentially, recorder-type woodwind instruments with
                                                            a keyboard layout like a piano just below the mouthpiece). In
                                                            the 1980s, Hohner expanded further, offering a line of guitars
                                                            and partnering to distribute Sabian cymbals and Sonor drums.
                                                        </p>
                                                        <p class="lead mt20 text-justify">This product-line expansion was matched by a steady global expansion,
                                                            with subsidiaries in the United States, United Kingdom, China,
                                                            Japan, and Brazil. Hohner began to struggle, however, after the
                                                            rise of rock music in the 1960s depressed global harmonica demand
                                                            just as Asian competitors started offering lower-cost harmonicas.
                                                            The company implemented drastic layoffs in 1986 amidst two decades
                                                            of losses that forced the Hohner family to sell a controlling
                                                            interest to Kunz-Holding GmbH &amp; Co., a wood-products manufacturer,
                                                            while retaining just 8% ownership. Kunz later sold Hohner to
                                                            a Virgin Islands–based subsidiary of K.H.S. Musical Instrument
                                                            Co. Ltd. of Taiwan. New management from K.H.S. helped the company
                                                            enact an aggressive restructuring and turnaround plan at the
                                                            turn of the twenty-first century, resulting in Hohner’s first
                                                            profitable year in more than two decades.</p>
                                                        <h5>
                                                            <strong>The Harmonica Market</strong>
                                                        </h5>
                                                        <p class="lead mt20 text-justify">Since 2000, Hohner’s share of the global harmonica market had been
                                                            fairly steady at approximately 75%, despite the growth of upstart
                                                            competitors such as Lee Oskar, the brand launched by the harmonica
                                                            player for the band War, which had about 10% market share. Other
                                                            competitors tended to focus on specific regions, such as Suzuki
                                                            in Asia or Hering in Brazil. Hohner did not sell directly to
                                                            end users or even to retailers but instead sold exclusively through
                                                            distributors, which then supplied both online and brick-and-mortar
                                                            musical instrument retailers.</p>
                                                        <p class="lead mt20 text-justify">“While we do not sell directly to retailers, we have started to think
                                                            about what we can do to increase their sales. We’ve recently
                                                            started partnerships with large retailers like Guitar Center,”
                                                            said one Hohner representative. “Typically, the way you would
                                                            buy a harmonica was to ask for it [at a store] because it was
                                                            either in a drawer behind the desk or in a case under glass.
                                                            What we’ve found—what the research suggests—is that you can drive
                                                            sales by having the harmonicas out in a case with blister cards
                                                            explaining what kind of harmonica it is, why it’s better or worse
                                                            than the other ones, and so on. That’s the ‘silent salesman.’”</p>
                                                        <p class="lead mt20 text-justify">Hohner had identified two basic buyer profiles, which were distinguished
                                                            by the player’s seriousness about the instrument. The vast majority
                                                            (about 95%) of buyers were casual players who made an impulse
                                                            purchase of a less expensive harmonica (under €10). Such players
                                                            typically owned only one harmonica.</p>
                                                        <p class="lead mt20 text-justify">On the other hand, more serious players tended to buy more expensive
                                                            (at least €20) harmonicas in higher volumes. Many serious players
                                                            owned as many as forty or fifty harmonicas in different keys,
                                                            with alternate tunings and by different brands. Such customers
                                                            also tended to perform their own instrument repairs and retuning,
                                                            which extended the lifetime of the harmonica. Though they represented
                                                            a small minority of the customer base, one Hohner representative
                                                            suggested these buyers accounted for as much as 30% of harmonica
                                                            sales in Germany.</p>
                                                        <p class="lead mt20 text-justify">Hohner’s biggest challenge had always been converting the first type
                                                            of buyer to the second type. “There’s a low barrier to entry
                                                            on the first harmonica; you can play it if you can breathe, and
                                                            it’s not very expensive,” observed a Hohner representative. “The
                                                            hard part is getting [customers] to buy a second one, [which
                                                            won’t happen unless] they realize they need different keys to
                                                            play along with Bob Dylan songs on the radio, or because they
                                                            realize they need a better one if they want to bend notes and
                                                            play blues.”</p>
                                                        <p class="lead mt20 text-justify">The representative continued, “Popular music definitely helps; there
                                                            was a slight increase in sales every time Bob Dylan started playing
                                                            harmonica, or [in] the blues revival of the early 1980s with
                                                            the Fabulous Thunderbirds and George Thorogood. . . . My dream
                                                            right now is that Taylor Swift comes out with a song playing
                                                            harmonica. Or if I can get Nick Jonas to play harmonica on just
                                                            one hit song, you can imagine that it would be very good for
                                                            us.”
                                                        </p>
                                                        <h5>
                                                            <strong>Hohner Musikinstrumente GmbH &amp; Co. KG</strong>
                                                        </h5>
                                                        <p class="lead mt20 text-justify">The Hohner Marine Band harmonica retailed for €30 in Germany. German
                                                            retailers generally insisted on a 33% margin, and distributors
                                                            took a 12% margin, based on the selling price of each. Hohner
                                                            and its direct competitors sold a total of 800,000 units annually,
                                                            with Hohner’s share at 75%.</p>
                                                        <p class="lead mt20 text-justify">Hohner faced variable manufacturing costs of €2.70 per Marine Band,
                                                            with fixed manufacturing costs of €900,000 and an annual advertising
                                                            budget of €500,000. The Marine Band manager’s salary and expenses
                                                            totaled €35,000. Marine Band salespeople working for Hohner were
                                                            paid solely by a 10% commission on Hohner’s sales. Shipping costs,
                                                            breakage, and insurance were €0.60 per unit.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Controls -->
                                    <div class="container">
                                        <a class="btn btn-primary pull-right" data-dismiss="modal" role="button">
                                            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> OK
                                        </a>
                                    </div>

                                </div>
                                <!-- Added by dsuarez (TK) -->

                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>

        <!-- Walkthroght Modal -->
        <div class="modal" id="walk-modal" tabindex="-1" role="dialog" aria-labelledby="popup-modal-label">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        Walkthroght
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body role-modal-body" style="padding-top:0;">
                        <h4 class="text-center">
                            <u>Assessment Guidelines</u>
                        </h4>

                        <div id="walk-carousel" class="carousel slide" data-ride="carousel" data-interval="false">

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">


                                <div class="item active">

                                    <div class="item-content">
                                        <div class="">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-xs-7">
                                                        <h4>
                                                            <strong>Step: 1</strong>
                                                        </h4>
                                                        <p class="lead mt20">Assess the current operational enviroment.</p>
                                                    </div>
                                                    <div class="col-xs-5">
                                                        <img class="be-img-70 center-img" src="<%- makeURL('/game_assets/img/be-img1.png') %>" alt="" />
                                                    </div>
                                                    <div class="col-xs-7">
                                                        <h4>
                                                            <strong>Step: 2</strong>
                                                        </h4>
                                                        <p class="lead mt20">Make a recommendation regarding a proposed
                                                            <strong>increase in advertising</strong>
                                                        </p>
                                                    </div>
                                                    <div class="col-xs-5">
                                                        <img class="be-img-70 center-img" src="<%- makeURL('/game_assets/img/be-img2.png') %>" alt="" />
                                                    </div>
                                                    <div class="col-xs-7">
                                                        <h4>
                                                            <strong>Step: 3</strong>
                                                        </h4>
                                                        <p class="lead mt20">Make a recommendation regarding a proposed
                                                            <strong>increase in advertising</strong>
                                                        </p>
                                                    </div>
                                                    <div class="col-xs-5 text-center">
                                                        <img class="be-img-70 center-img" src="<%- makeURL('/game_assets/img/be-img3.png') %>" alt="" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Controls -->
                                    <div class="carousel-controls text-center">
                                        <a class="btn btn-sm btn-primary" href="#walk-carousel" role="button" data-slide="next">
                                            Next
                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                        </a>
                                    </div>

                                </div>

                                <div class="item">

                                    <div class="item-content">
                                        <div class="">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-xs-12 text-center">
                                                        <h4>
                                                            <strong>Criteria: 1</strong>
                                                        </h4>
                                                        <p class="lead mt20">Assess the margin waterfall along each step in your value chain.</p>
                                                    </div>
                                                    <div class="col-xs-4 text-center">
                                                        <img class="be-img-50 center-img" src="<%- makeURL('/game_assets/img/be-img4.png') %>" alt="" />
                                                        <small>Retail</small>
                                                    </div>
                                                    <div class="col-xs-4 text-center">
                                                        <img class="be-img-50 center-img" src="<%- makeURL('/game_assets/img/be-img5.png') %>" alt="" />
                                                        <small>Distribuitor</small>
                                                    </div>
                                                    <div class="col-xs-4 text-center">
                                                        <img class="be-img-50 center-img" src="<%- makeURL('/game_assets/img/be-img6.png') %>" alt="" />
                                                        <small>Manufacturing</small>
                                                    </div>
                                                    <div class="col-xs-12 text-center">
                                                        <h4>
                                                            <strong>Criteria: 2</strong>
                                                        </h4>
                                                        <p class="lead mt20">Calculate your breakeven sales quantity and market share.</p>
                                                    </div>
                                                    <div class="col-xs-7 col-xs-offset-3">
                                                        <img class="be-img-50 center-img" src="<%- makeURL('/game_assets/img/be-img7.png') %>" alt="" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Controls -->
                                    <div class="carousel-controls text-center">
                                        <a class="btn btn-sm btn-primary" href="#walk-carousel" role="button" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Previous
                                        </a>
                                        <a class="btn btn-sm btn-primary" data-dismiss="modal" role="button">
                                            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> OK
                                        </a>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!-- Added by dsuarez (TK) -->

        <!-- Menu Modal -->
        <div class="modal" id="menu-modal" tabindex="-1" role="dialog" aria-labelledby="popup-modal-label">
            <span id="close-menu" class="close-menu">
                <span class="circle">
                    <span aria-hidden="true">&times;</span>
                </span>
            </span>
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div id="slide-menu" class="modal-body">

                        <ul class="text-center">
                            <li>
                                <span id="role-menu-item">Role</span>
                            </li>
                            <li>
                                <span id="walk-menu-item">Walkthrough</span>
                            </li>
                            <li>
                                <span id="about">About</span>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <!-- Alert Modal -->
        <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="alertModalTitle"></h4>
                    </div>
                    <div id="alertModalBody" class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Popup -->
        <div id="popup"></div>

        <!-- Pause Popup -->
        <div id="pause-popup">
            <div class="v-center">
                <div class="padd10">
                    <img src="game_assets/assets/icon-sand.png" class="animated pulse infinite" alt="Pause" />
                    <h3 class="mt40">The instructor has paused the game</h3>
                </div>
            </div>
        </div>

        <!-- Connection Popup -->
        <div id="connection-popup">
            <div class="v-center">
                <div class="padd10">
                    <img src="game_assets/assets/icon-alert.png" class="animated pulse infinite" alt="Disconnection" />
                    <h3 class="mt40">Oops! There was a problem with the connection</h3>
                    <small>But don't worry, click the refresh button and everything will be fine.</small>
                    <p class="mt20">
                        <span id="refresh-btn" class="btn btn-primary btn-lg">Refresh Now</span>
                    </p>
                </div>
            </div>
        </div>

        <!-- Pre-loaders -->
        <span id="pl-splash-bottom"></span>

    </div>


    <!-- Menu Panels -->
    <div id="menutabs" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Libraries -->
    <script src="<%- makeURL('/socket.io/socket.io.js') %>"></script>
    <script type="text/javascript" src="<%- makeURL('/js/jquery-1.11.0.min.js') %>"></script>
    <script type="text/javascript" src="<%- makeURL('/js/highcharts.js') %>"></script>
    <script type="text/javascript" src="<%- makeURL('/bootstrap/js/bootstrap.min.js') %>"></script>
    <script type="text/javascript" src="<%- makeURL('/js/bootbox.min.js') %>"></script>
    <script type="text/javascript" src="<%- makeURL('/game_assets/js/fastclick.js') %>"></script>

    <!-- Optional Libraries: Remove scripts if you're not using them -->
    <script type="text/javascript" src="<%- makeURL('/js/bootstrap-slider.min.js') %>"></script>
    <script type="text/javascript" src="<%- makeURL('/js/bootstrap-switch.min.js') %>"></script>
    <script type="text/javascript" src="<%- makeURL('/js/bootstrap-tour.min.js') %>"></script>
    <script type="text/javascript" src="<%- makeURL('/js/bootstrap.wizard.min.js') %>"></script>

    <!-- Objects & Helpers -->
    <script type="text/javascript" src="<%- makeURL('/game_assets/js/utils.js') %>"></script>
    <script type="text/javascript" src="<%- makeURL('/game_assets/js/qappnav.js') %>"></script>

    <!-- App specific -->
    <script type="text/javascript" src="<%- makeURL('/game_assets/js/app.js') %>"></script>
    <script type="text/javascript" src="<%- makeURL('/game_assets/js/menu.js') %>"></script>
    <script type="text/javascript" src="<%- makeURL('/game_assets/js/debrief_utils.js') %>"></script>
    <script type="text/javascript" src="<%- makeURL('/game_assets/js/game_utils.js') %>"></script>
    <!-- Added by dsuarez(tk) -->
    <script type="text/javascript" src="<%- makeURL('/game_assets/js/game-logic.js') %>"></script>

    <!-- Inline Script -->
    <script>
        // Get the local API info
        jQuery(document).ready(function () {
            // API data: Request and then start the game
            jQuery.ajax({
                url: 'oauth_provider',
                method: 'GET',
                success: function (authdata) {

                    var oauthData = authdata;
                    console.log(oauthData);
                    appinit({
                        io_domain: oauthData.io_domain,
                        io_path: oauthData.io_path,
                        site_url: oauthData.site_url
                    });

                }
            });

        });

        // Google Analytics
    </script>

</body>

</html>