<%- include ../header %>

    <div class="container-fluid">
      <div class="row">

        <div class="col-xs-12">

            <%- messages() %>

            <div class="panel">

                <form id="create-form" method="POST" class="pt30 pb30">

                    <div class="row">
                        <div class="form-group col-sm-4 col-sm-offset-2">
                            <label>Name</label>
                            <input type="text" id="name" name="name" class="form-control input-lg" />
                        </div>

                        <% if( user.role == 'instructor' ){ %>
                        <div class="form-group col-sm-4">
                            <label>Instructor</label>
                            <% instructors.forEach( function( ins, ins_idx ){ %>
                                <% if(ins.email == user.email){ %>
                                    <input id="instructor" class="form-control input-lg" value="<%- ins.name + ' ' + ins.lastname %>" disabled />
                                <% } %>
                            <% }); %>
                        </div>
                        <% }else{ %>
                        <div class="form-group col-sm-4">
                            <label>Instructor</label>
                            <select id="instructor" name="instructor" class="form-control input-lg">
                                <option value="">Select Instructor</option>
                                <% instructors.forEach( function( instructor, instructor_idx ){ %>
                                    <option value="<%- instructor.id %>"><%- instructor.name + ' ' + instructor.lastname %></option>
                                <% }); %>
                            </select>
                        </div>
                        <% } %>

                    </div>

                    <!-- Game Launch Types -->
                    <div id="launch-types" class="row mt20">
                        <div class="col-sm-8 col-sm-offset-2">
                            <div class="row">

                                <div class="form-group text-center">
                                    <label>Select A Game Access Path</label>
                                </div>

                                <div class="col-sm-4 text-center">
                                    <div class="panel" style="border:1px solid #CCC;">
                                        <label>
                                            <div class="panel-body">
                                                <div class="radio">
                                                    <h4><input name="access_type" type="radio" value="lms" style="margin-top:1px;" checked>LMS/LTI</h4>
                                                </div>
                                            </div>
                                            <div class="panel-body text-left">

                                                <p class="text-center"><u>Instructor/Admin:</u></p>
                                                <ul>
                                                    <li>Verify LMS setup</li>
                                                </ul>

                                                <p class="text-center"><u>Student Process:</u></p>
                                                <ul>
                                                    <li>Login to LMS</li>
                                                    <li>Select Course &amp; Module</li>
                                                    <li>Click on Link</li>
                                                </ul>
                                            </div>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-sm-4 text-center">
                                    <div class="panel" style="border:1px solid #CCC;">
                                        <label style="display:block;">
                                            <div class="panel-body">
                                                <div class="radio">
                                                    <h4><input name="access_type" type="radio" value="link" style="margin-top:1px;">Link + Email</h4>
                                                </div>
                                            </div>
                                            <div class="panel-body text-left">
                                                <p class="text-center"><u>Instructor/Admin:</u></p>
                                                <ul>
                                                    <li>Display registration link</li>
                                                </ul>

                                                <p class="text-center"><u>Student Process:</u></p>
                                                <ul>
                                                    <li>Register Via Link</li>
                                                    <li>Check email</li>
                                                    <li>Click on Link</li>
                                                </ul>
                                            </div>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-sm-4 text-center">
                                    <div class="panel" style="border:1px solid #CCC;">
                                        <label>
                                            <div class="panel-body">
                                                <div class="radio">
                                                    <h4><input name="access_type" type="radio" value="csv" style="margin-top:1px;">CSV Upload</h4>
                                                </div>
                                            </div>
                                            <div class="panel-body text-left">
                                                <p class="text-center"><u>Instructor/Admin:</u></p>
                                                <ul>
                                                    <li>Upload participants</li>
                                                </ul>

                                                <p class="text-center"><u>Student Process:</u></p>
                                                <ul>
                                                    <li>Check email</li>
                                                    <li>Click on Link</li>
                                                </ul>
                                            </div>
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row mt30">
                        <!-- Save -->
                        <div class="form-group col-sm-12 text-center">
                            <button class="btn btn-labeled btn-mb btn-primary" id="create-btn" >
                                <span class="btn-label"><i class="fa fa-check fa-fw"></i></span>Create Game
                            </button>
                            <br/><br/>
                            <a href="<%- makeURL('/admin/games') %>" class="btn btn-md">Cancel</a>
                        </div>
                    </div>

                </form>

            </div>
        </div>

      </div>
    </div>

    <script>
        jQuery(document).ready(function(){

            // Cache the highest
            var highestBox = 0;
            // Select and loop the elements you want to equalise
            jQuery('#launch-types .panel').each(function(pi, p){
                // If this box is higher than the cached highest then store it
                if(jQuery(p).height() > highestBox) {
                  highestBox = jQuery(p).height();
                }
            });
            // Set the height of all those children to whichever was highest
            jQuery('#launch-types .panel').height(highestBox);


            // Validate the form
            var validator = jQuery("#create-form").validate({
                rules: {
                    name: {required: true},
                    instructor: {required: true}
                },
                submitHandler: function(form) {
                    form.submit();
                }
            });

        });
    </script>

<%- include ../slidemenu %>
<%- include ../footer %>
