<%- include ../header %>

    <div class="container-fluid">

        <!-- .topbar -->
        <div class="topbar topbar-right">

            <% if( game.status != 'finalized' ){ %>
                <a id="add-player-btn" href="#" id="addplayer-btn" class="btn btn-mb btn-labeled btn-default"
                   data-toggle="modal" data-target="#add-new-pair-modal">
                    <span class="btn-label"><i class="fa fa-plus"></i></span> Add Player
                </a>
            <% } %>

            <!-- Pause/Unpause -->
            <% if( game.status == 'launched' && game.started ){ %>
                <% if( game.paused ){ %>
                    <a href="<%- makeURL('/admin/games/unpause/' + game._id) %>" id="unpause-btn" class="btn btn-mb btn-labeled btn-info">
                        <span class="btn-label"><i class="fa fa-play"></i></span> Unpause
                    </a>
                <% }else{ %>
                    <a href="<%- makeURL('/admin/games/pause/' + game._id) %>" id="pause-btn" class="btn btn-mb btn-labeled btn-info">
                        <span class="btn-label"><i class="fa fa-pause"></i></span> Pause
                    </a>
                <% } %>
            <% } %>

            <!-- Start/Finalize -->
            <% if( game.started && game.status != 'finalized' ){ %>
                <a href="<%- makeURL('/admin/games/finalize/' + game._id) %>" id="finalize-btn" class="btn btn-mb btn-labeled btn-primary">
                    <span class="btn-label"><i class="fa fa-stop"></i></span> Finalize
                </a>
            <% } %>
            <% if( game.status == 'launched' ){ %>
                <a href="<%- makeURL('/admin/games/start/' + game._id) %>" class="btn btn-md btn-labeled btn-primary">
                    <span class="btn-label"><i class="fa fa-play"></i></span> Start
                </a>
            <% } %>

        </div>
        <!-- /.topbar -->


        <div class="row">
            <div class="col-xs-12">

                <!-- Menu Bar -->
                <div class="secondary-bar text-left">
                    <h2 class="mt0 mb5 pull-left">Debrief</h2>
                    <ul id="inner-menu" class="nav nav-pills nav-justified mt0">
                        <li <% if( action == 'debrief' ){ %> class="active" <% } %>><a href="<%- makeURL('/admin/games/debrief/' + game._id) %>">Overview</a></li>
                        <li <% if( action == 'debrief_demochart' ){ %> class="active" <% } %>><a href="<%- makeURL('/admin/games/demochart/' + game._id) %>">Demo Chart</a></li>
                        <li <% if( action == 'debrief_charts2' ){ %> class="active" <% } %>><a href="#">Chart 2</a></li>
                        <li <% if( action == 'debrief_charts3' ){ %> class="active" <% } %>><a href="#">Chart 3</a></li>
                        <li <% if( action == 'debrief_leaderboard' ){ %> class="active" <% } %>><a href="<%- makeURL('/admin/games/leaderboard/' + game._id) %>">Leaderboard</a></li>
                        <li <% if( action == 'debrief_download' ){ %> class="active" <% } %>><a href="<%- makeURL('/admin/games/csv/' + game._id) %>">Download</a></li>
                    </ul>
                </div>
                <!-- /Menu-bar -->

                <div class="panel">
                    <div class="panel-heading">
                        Leaderboard
                    </div>
                    <div class="panel-body">

                        <table id="leaderboard-table" class="table table-bordered mb0">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Surname</th>
                                    <th>Email</th>
                                    <th class="text-center" data-sort-default>Plays</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% game.players.forEach(function(p){ %>

                                    <%
                                        p.name = (typeof p.name == 'undefined') ? '' : p.name;
                                        p.lastname = (typeof p.lastname == 'undefined') ? '' : p.lastname;
                                    %>

                                    <tr>
                                        <td><%- p.name %></td>
                                        <td><%- p.lastname %></td>
                                        <td><%- p.email %></td>
                                        <td class="text-center">
                                            <%- p.results.length %>
                                        </td>
                                    </tr>

                                <% }) %>
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </div>


    </div>

    <%- include add_player_modal %>


    <!-- Libraries -->
    <script src="<%- makeURL('/socket.io/socket.io.js') %>"></script>
    <script>
        jQuery(document).ready(function(){

            // GAME
            var gameObj = <%- JSON.stringify(game) %>;

            // SOCKETS
            var o = <%- JSON.stringify(o) %>;

            // Init & Connect Socket
            var socket = io.connect(o.io_domain, {path: o.io_path});

        });
    </script>

    <!-- Table sorting -->
    <script src="<%- site_url %>/js/tablesort.min.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function(){
            var sortedTable = new Tablesort(document.getElementById('leaderboard-table'), {
                descending: true
            });
        });
    </script>

<%- include ../slidemenu-game %>
<%- include ../footer %>
