<%- include ../header %>

    <div class="container panel">

        <!-- .topbar -->
        <div class="topbar topbar-right">

            <% if( game.status != 'finalized' ){ %>
                <a id="add-player-btn" href="#" id="addplayer-btn" class="btn btn-mb btn-labeled btn-info"
                   data-toggle="modal" data-target="#add-new-pair-modal">
                    <span class="btn-label"><i class="fa fa-plus"></i></span> Add Player
                </a>
            <% } %>

            <!-- Pause/Unpause -->
            <% if( !game.async_mode ){ %>
                <% if( game.paused ){ %>
                    <a href="<%- makeURL('/admin/games/unpause/' + game._id) %>" id="unpause-btn" class="btn btn-mb btn-labeled btn-warning">
                        <span class="btn-label"><i class="fa fa-play"></i></span> Unpause
                    </a>
                <% }else{ %>
                    <a href="<%- makeURL('/admin/games/pause/' + game._id) %>" id="pause-btn" class="btn btn-mb btn-labeled btn-warning">
                        <span class="btn-label"><i class="fa fa-pause"></i></span> Pause
                    </a>
                <% } %>
            <% } %>

            <!-- CSV -->
            <% if( game.status == 'finalized' ){ %>
                <a href="<%- makeURL('/admin/games/csv/' + game._id) %>" id="csv-btn" class="btn btn-mb btn-labeled btn-primary">
                    <span class="btn-label"><i class="fa fa-download"></i></span> Download CSV
                </a>
            <% } %>

            <!-- Start/Finalize -->
            <% if( game.started ){ %>
                <a href="<%- makeURL('/admin/games/finalize/' + game._id) %>" id="finalize-btn" class="btn btn-mb btn-labeled btn-danger">
                    <span class="btn-label"><i class="fa fa-stop"></i></span> Finalize
                </a>
            <% }else{ %>
                <a href="<%- makeURL('/admin/games/start/' + game._id) %>" class="btn btn-md btn-info">
                    <span class="btn-label"><i class="fa fa-play"></i></span> Start
                </a>
            <% } %>

        </div>
        <!-- /.topbar -->

        <!-- Menu Bar -->
        <div class="row secondary-bar">
            <div class="col-sm-6 text-left">
                <h3 class="mt0 mb0" style="display:inline-block;">
                    Debrief
                </h3>
            </div>
        </div>
        <!-- /Menu-bar -->

        <div class="row main">

            <div class="col-xs-12">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Title...</strong>
                    </div>
                    <div class="panel-body">
                        Content...
                    </div>
                </div>

            </div>

        </div>
        <!-- /.main -->

    </div>

    <%- include add_player_modal %>


    <!-- Libraries -->
    <script src="<%- makeURL('/socket.io/socket.io.js') %>"></script>
    <script>
        jQuery(document).ready(function(){

            // GAME
            var gameObj = <%- JSON.stringify(game) %>;

            // SOCKETS
            var o = <%- JSON.stringify(o) %>;

            // Init & Connect Socket
            var socket = io.connect(o.io_domain, {path: o.io_path});

        });
    </script>

<%- include ../slidemenu-game %>
<%- include ../footer %>
