<%- include ../header %>

    <div class="container-fluid">

        <!-- Top Bar -->
        <div class="topbar topbar-right">
            <span id="save-btn" class="btn btn-mb btn-labeled btn-primary">
                <span class="btn-label"><i class="fa fa-floppy-o fa-fw"></i></span> Save
            </span>
            <a id="launch-btn" href="<%- makeURL('/admin/games/launch/' + game._id) %>" class="btn btn-mb btn-labeled btn-success" >
                <span class="btn-label"><i class="fa fa-paper-plane"></i></span> Launch
            </a>
        </div>
        <!-- /Top-bar -->

        <%- messages() %>

        <div class="row main">

            <div class="col-xs-12">

                <form id="game-form" method="POST" class="row">

                    <div class="col-sm-6">

                        <span id="toggle-settings" class="btn btn-xs btn-link coll-toggle collapsed" data-toggle="collapse" data-target="#advanced-settings">
                            <span class="coll">Show Advanced Settings</span>
                            <span class="nocoll">Hide Advanced Settings</span>
                        </span>

                        <div id="advanced-settings" class="collapse">

                            <div class="row mt20">
                                <div class="form-group col-sm-8">
                                    <h4>Name</h4>
                                    <input type="text" id="name" name="name" class="form-control input-lg" value="<%- game.name %>" />
                                </div>
                                <div class="form-group col-sm-4">
                                    <h4>
                                        Access Type
                                        <span class="glyphicon glyphicon-question-sign" style="cursor:pointer;" data-toggle="modal" data-target="#info-modal"></span>
                                    </h4>
                                    <select class="form-control input-lg" id="access_type" name="access_type">
                                        <option value="lms" <% if(game.access_type == 'lms'){ %>selected="selected"<% } %>>LMS/LTI</option>
                                        <option value="link" <% if(game.access_type == 'link'){ %>selected="selected"<% } %>>LINK + EMAIL</option>
                                        <option value="csv" <% if(game.access_type == 'csv'){ %>selected="selected"<% } %>>CSV</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                        <hr/>

                        <div class="text-left">
                            <span class="btn btn-xs btn-link coll-toggle collapsed" data-toggle="collapse" data-target="#instructions-settings" aria-expanded="false">
                                <span class="coll">Show CSV Instructions</span>
                                <span class="nocoll">Hide CSV Instructions</span>
                            </span>
                        </div>

                        <div id="instructions-settings" class="collapse" aria-expanded="false" style="height: 0px;">

                            <div id="instructions" class="panel panel-default mt10">
                                <div class="panel-body">
                                    <ol>
                                        <li>Download the .csv template <strong><a href="<%- makeURL('/templates/simcase_csv_template.csv'); %>" target="_blank">here</a></strong>. Fill-in details for all participants, then copy &amp; paste to the text area at right.</li>
                                        <li>
                                            If you prefer, type each participant's email, first name, and last name in the text area at right. One per line, ie:
                                            <br/>
                                            <code><small>john@email.com, John, Doe</small></code>
                                        </li>
                                        <li>Once you have entered all participants, save the game and launch it.</li>
                                    </ol>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="form-group col-sm-6">

                        <h4>
                             Registered Players (<span id="rp-count"><%- game.players.length %></span>)
                             <span id="warning" class="hide pull-right text-danger">
                                 <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                 <small id="warning-message"></small>
                             </span>
                         </h4>

                         <textarea id="importer" name="players_text" class="form-control" rows="15" placeholder="student@email.edu"><%- game.players_text %></textarea>

                    </div>

                </form>

            </div>

        </div>
    </div>

    <script src="<%- makeURL('/socket.io/socket.io.js') %>"></script>
    <script>

        // GAME
        var gameObj = <%- JSON.stringify(game) %>;
        console.log('Game: ', gameObj);


        // SOCKETS
        var o = <%- JSON.stringify(o) %>;
        var socket = io.connect(o.io_domain, {path: o.io_path});


        // ENTER THE GAME BACKEND ROOM
        socket.emit('enter-backend', {game_id: '<%- game._id %>'}, function(room){
            console.log('Connected to this room backend socket... ;)');
            //console.log(room);
        });


        // LOCAL FUNCTIONS

        // Get the registered players list
        var registeredCount = document.getElementById('rp-count');
        registeredCount.innerHTML = gameObj.players.length;
        var warningDisplay = document.getElementById('warning');
        var warningMessage = document.getElementById('warning-message');
        var importerText = document.getElementById('importer');
        importerText.addEventListener('keyup', function(){

            var content = (this.value).trim();
            var lines = (content.length > 0) ? content.split('\n') : [];
            lines = lines.map(function(l){
                var parts = l.split(',');
                return parts[0].trim();
            });
            registeredCount.innerHTML = lines.length;

            var duplicatedEmail = hasDuplicates(lines);
            if(duplicatedEmail){
                warningDisplay.classList.remove('hide');
                warningMessage.innerHTML = 'The email address <strong>' + duplicatedEmail + '</strong> is duplicated.';
            }else{
                warningDisplay.classList.add('hide');
                warningMessage.innerHTML = '';
            }

            launchBtn.classList.add('disabled');

        });


        // SAVE BTN VALIDATIONS
        var gameForm = document.getElementById('game-form');
        var saveBtn =  document.getElementById('save-btn');
        saveBtn.addEventListener('click', function(e){
            jQuery(gameForm).submit();
        });


        // LAUNCH BTN VALIDATIONS
        var launchBtn = document.getElementById('launch-btn');
        if( gameObj.registered.length == 0 ) {
            launchBtn.classList.add('disabled');
        }
        launchBtn.addEventListener('click', function(e){

            if( this.classList.contains('disabled') ){
                e.preventDefault();
                return false;
            }

        });

        // Validate the form fields
        var toggleSettings = document.getElementById('toggle-settings');
        var validator = jQuery("#game-form").validate({
            ignore: [],
            rules: {
                name: {required: true}
            },
            submitHandler: function(form) {
                form.submit();
            },
            invalidHandler: function(event, validator) {
                if( toggleSettings.classList.contains('collapsed') ) {
                    toggleSettings.click();
                }
            }
        });

    </script>

<%- include ../slidemenu %>
<%- include ../footer %>
