<%- include ../header %>

    <div class="container-fluid">

        <!-- Top Bar -->
        <div class="topbar topbar-right">
            <span id="save-btn" class="btn btn-mb btn-labeled btn-primary">
                <span class="btn-label"><i class="fa fa-floppy-o fa-fw"></i></span> Save
            </span>
            <a id="launch-btn" href="<%- makeURL('/admin/games/launch/' + game._id) %>" class="btn btn-mb btn-labeled btn-success" >
                <span class="btn-label"><i class="fa fa-paper-plane"></i></span> Launch
            </a>
        </div>
        <!-- /Top-bar -->

        <%- messages() %>

        <div class="row main">

            <div class="col-xs-12">

                <form id="game-form" method="POST" class="row">

                    <div class="col-sm-6">

                        <!-- Advanced Settings -->
                        <span id="toggle-settings" class="btn btn-xs btn-link coll-toggle collapsed mt10" data-toggle="collapse" data-target="#advanced-settings">
                            <span class="coll">Show Advanced Settings</span>
                            <span class="nocoll">Hide Advanced Settings</span>
                        </span>

                        <div id="advanced-settings" class="collapse">
                            <div class="row mt10">
                                <div class="form-group col-sm-8">
                                    <h4>Name</h4>
                                    <input type="text" id="name" name="name" class="form-control input-lg" value="<%- game.name %>" />
                                </div>
                                <div class="form-group col-sm-4">
                                    <h4>
                                        Access Type
                                        <span class="glyphicon glyphicon-question-sign" style="cursor:pointer;" data-toggle="modal" data-target="#info-modal"></span>
                                    </h4>
                                    <select class="form-control input-lg" id="access_type" name="access_type">
                                        <option value="lms"  <% if(game.access_type == 'lms'){ %>selected="selected"<% } %>>LMS/LTI</option>
                                        <option value="link" <% if(game.access_type == 'link'){ %>selected="selected"<% } %>>LINK + EMAIL</option>
                                        <option value="csv"  <% if(game.access_type == 'csv'){ %>selected="selected"<% } %>>CSV</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- /Advanced Settings -->

                        <hr/>

                        <!-- Instructions -->
                        <span class="btn btn-xs btn-link coll-toggle collapsed" data-toggle="collapse" data-target="#instructions">
                            <span class="coll">Show LTI Instructions</span>
                            <span class="nocoll">Hide LTI Instructions</span>
                        </span>

                        <div id="instructions" class="collapse" aria-expanded="true">

                            <!-- Tabs: LMS Instructions -->
                            <ul class="nav nav-tabs nav-justified mt20" role="tablist">
                                <li role="presentation" class="active"><a href="#ins-canvas" role="tab" data-toggle="tab">Canvas</a></li>
                                <li role="presentation"><a href="#ins-moodle" role="tab" data-toggle="tab">Moodle</a></li>
                                <li role="presentation"><a href="#ins-others" role="tab" data-toggle="tab">Others</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="ins-canvas">
                                    <p><strong>Create an LTI External app in Canvas LMS:</strong></p>
                                    <ol>
                                        <li>Create an External App in Canvas Menu.</li>
                                        <li>Complete the required External App form details</li>
                                        <li>Use the following link as your app URL: <pre><%- site_url %>/lti/<%- game._id %></pre></li>
                                    </ol>
                                    <p>
                                        <strong>First-time? Review detailed instructions here:</strong><br>
                                        <a href="https://community.canvaslms.com/docs/DOC-9965-415257103" target="_blank">
                                            https://community.canvaslms.com/docs/DOC-9965-415257103
                                        </a>
                                    </p>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="ins-moodle">
                                    <p><strong>Create an LTI External app in Moodle LMS:</strong></p>
                                    <ol>
                                        <li>Create an External App in Moodle Menu.</li>
                                        <li>Complete the required External App form details.</li>
                                        <li>Use the following link as your app URL: <pre><%- site_url %>/lti/<%- game._id %></pre></li>
                                    </ol>
                                    <p>
                                        <strong>First-time? Review detailed instructions here:</strong><br>
                                        <a href="https://docs.moodle.org/32/en/External_tool_settings" target="_blank">
                                            https://docs.moodle.org/32/en/External_tool_settings
                                        </a>
                                    </p>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="ins-others">
                                    <p><strong>Instructions for other LMS platforms:</strong></p>
                                    <ul>
                                        <li>
                                            <a href="https://help.blackboard.com/Learn/Administrator/SaaS/Integrations/Learning_Tools_Interoperability" target="_blank">
                                                Blackboard Instructions
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://support.schoology.com/hc/en-us/articles/204377963-A-How-to-Guide-for-Schoology-s-LTI-Integration" target="_blank">
                                                Schoology Instructions
                                            </a>
                                        </li>
                                    </ul>
                                    <p>
                                        <strong>Want to use another LMS?</strong><br>
                                        Let us know at <a href="mailto:tech@simcase.io">tech@simcase.io</a><br>
                                        We'll get to work on it!
                                    </p>
                                </div>
                            </div>

                        </div>
                        <!-- /Instructions -->

                    </div>

                    <div class="form-group col-sm-6">

                        <h4>Registered Players (<span id="rp-count"><%- game.registered.length %></span>)</h4>

                        <ul id="registered-players" class="list-group">
                            <% game.registered.forEach(function(reg){ %>
                                <li class="list-group-item">
                                    <%- reg.email %>, <%- reg.name %> <%- reg.lastname %> <span class="btn btn-xs btn-danger pull-right remove" data-email="<%- reg.email %>">Remove</span>
                                </li>
                            <% }); %>
                        </ul>

                    </div>

                </form>

            </div>

        </div>
    </div>

    <script src="<%- makeURL('/socket.io/socket.io.js') %>"></script>
    <script src="<%- makeURL('/js/clipboard.min.js') %>"></script>
    <script>
        jQuery(document).ready(function(){

            // GAME
            var gameObj = <%- JSON.stringify(game) %>;
            console.log('Game: ', gameObj);


            // SOCKETS
            var o = <%- JSON.stringify(o) %>;
            var socket = io.connect(o.io_domain, {path: o.io_path});


            // ENTER THE GAME BACKEND ROOM
            socket.emit('enter-backend', {game_id: '<%- game._id %>'}, function(room){
                console.log('Connected to this room backend socket... ;)', room);
                //console.log(room);
            });


            // LOCAL FUNCTIONS
            document.getElementById('access_type').addEventListener('change', function(){
                bootbox.confirm({
                    title: 'Access Type Change',
                    message: 'You are about to change the game Access Type. This will change the game setup form and options.',
                    callback: function(result){
                        if( result ){
                            saveBtn.click();
                        }
                    }
                });
            });

            // Get the registered players list
            var registeredCount = document.getElementById('rp-count');
            var registeredList = document.getElementById('registered-players');

            // Remove a registered player
            function removeRegisteredPlayer(){

                var elem = this;
                var email = this.dataset.email;
                if(email.length > 0 && isValidEmailAddress(email)){

                    var msg = "<div class='text-center'>By removing " + email + ",<br/>the user won't be able to play in this game.<br/><br/>";
                    msg += "<small><i>To avoid overwriting the players list,<br/>it's a good idea to use this feature after all the players have joined.</i></small></div>";

                    bootbox.confirm({
                        title: "Are you sure?",
                        message: msg,
                        callback: function(confirmation){

                            // Confirm
                            if(confirmation){

                                jQuery.ajax({
                                    method: 'POST',
                                    url: '/admin/games/' + gameObj._id + '/rmemail/' + email,
                                    success: function(response){
                                        if(typeof response != 'undefined' && response.email){

                                            var element = elem.parentElement;
                                            registeredList.removeChild(element);
                                            registeredCount.innerHTML--;

                                            // Remove the player from the array
                                            var removedIndex = gameObj.registered.findIndex(function(el){ return el.email == email; });
                                            if (removedIndex > -1) {
                                                gameObj.registered.splice(removedIndex, 1);
                                            }

                                        }
                                    }
                                });

                            }

                        }
                    });

                }else{
                    console.log('Email is invalid', email);
                }

            };

            // Add an item to the list
            function addListItem(p){

                var litem = document.createElement('li');
                litem.classList.add('list-group-item');

                var litemRem = document.createElement('span');
                litemRem.classList.add('btn', 'btn-xs', 'btn-danger', 'pull-right', 'remove');
                litemRem.dataset.email = p.email;
                litemRem.innerHTML = 'Remove';
                litemRem.addEventListener('click', removeRegisteredPlayer);

                litem.innerHTML = p.email + ', ' + p.name + ' ' + p.lastname;
                litem.appendChild(litemRem);

                registeredList.appendChild(litem);
                registeredCount.innerHTML++;

                launchBtn.classList.add('disabled');

            };


            // Add "remove" listener to registered players
            var currentRegisteredPlayers = document.querySelectorAll('#registered-players .list-group-item .remove');
            currentRegisteredPlayers = [].slice.call(currentRegisteredPlayers);
            currentRegisteredPlayers.forEach(function(cp){
                cp.addEventListener('click', removeRegisteredPlayer);
            });


            // COPY TO CLIPBOARD
            jQuery('#copy-link').tooltip({trigger: 'manual'});
            var clipboard = new Clipboard('#copy-link');
            clipboard.on('success', function(e) {
                jQuery('#copy-link').attr('title', 'Copied').tooltip('fixTitle').tooltip('show');
                setTimeout(function(){
                    jQuery('#copy-link').tooltip('hide');
                }, 1000);
            });

            clipboard.on('error', function(e) {
                jQuery('#copy-link').attr('title', 'Press Ctrl+C or Cmd+C on Mac to copy').tooltip('fixTitle').tooltip('show');
                setTimeout(function(){
                    jQuery('#copy-link').tooltip('hide');
                }, 1000);
            });


            // JOINPLAYER!
            socket.on('joinplayer', function(data){
                console.log('New player!', data);
                var alreadyReg = gameObj.registered.findIndex(function(reg){ return reg.email == data.email; });
                if( alreadyReg == -1 ){
                    gameObj.registered.push(data);
                    addListItem(data);
                }
            });


            // SAVE BTN VALIDATIONS
            var gameForm = document.getElementById('game-form');
            var saveBtn =  document.getElementById('save-btn');
            saveBtn.addEventListener('click', function(e){
                gameForm.submit();
            });


            // LAUNCH BTN VALIDATIONS
            var launchBtn = document.getElementById('launch-btn');
            if( gameObj.registered.length == 0 ) {
                launchBtn.classList.add('disabled');
            }
            launchBtn.addEventListener('click', function(e){
                //e.preventDefault();
                if( this.classList.contains('disabled') ){
                    return false;
                }else{
                    return true;
                }
            });

            // Validate the form fields
            var toggleSettings = document.getElementById('toggle-settings');
            var validator = jQuery("#game-form").validate({
                ignore: [],
                rules: {
                    name: {required: true}
                },
                submitHandler: function(form) {
                    form.submit();
                },
                invalidHandler: function(event, validator) {
                    if( toggleSettings.classList.contains('collapsed') ) {
                        toggleSettings.click();
                    }
                }
            });

        });
    </script>

<%- include ../slidemenu %>
<%- include ../footer %>
